<div class="container" data-ng-controller="AuthenticationController" data-ng-init="visSignIn()">

    <h2>Welcome to booc.io!</h2>

    <p>
        Dear Vis 2016 Reviewer,</p>
    <p>
        You have successfully logged in with an anonymous <b>Teacher</b> account.
        This means you can view the Gov 2001 course, but also create your own course and put in the concepts and dependencies.
        Because booc.io encourages sharing content between courses, <b>teachers have editing access to all material</b>. Since
        this is a running system, we ask you to not edit or remove any of the existing materials. Other than that,
        please feel free to play around with everything.
    </p>

    <p>Thanks for trying booc.io!</p>

    <a href data-ui-sref="home" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Start exploring!</a>

</div>
