<ul ng-if="activeMode=='admin'" class="course-list" style="border-color: {{getPathColor(currentGoal.concept.color)}}">

    <li class="concept">

        <a data-ui-sref="{active: activeConcept.parentData.concept._id}" tabindex="-1" title="{{activeConcept ? activeConcept.concept.title : course.short}}">

            <span class="concept-circle" style="background: #fff"></span>
            <span class="concept-line"><span></span></span>
            <span class="concept-title">{{activeHierarchyConcept ? activeHierarchyConcept.concept.title : course.short}}</span>

        </a>

        <ul class="concept-list" ui-sortable="sortableOptions" ng-model="activeHierarchyChildren">
            <li ng-repeat="child in activeHierarchyChildren | orderBy:'order':false" class="concept sortableConcept"  ng-class="{ 'active': activeConcept.concept._id === child.concept._id,
                        'learned':  active.learnedConceptIds.indexOf(child.concept._id) !== -1, 'addingTo': addToConcept.concept._id == child.concept._id}">

                <a class="concept">

                    <span class="concept-line"><span></span></span>

                    <input id="concept-title-{{child.concept._id}}" class="concept-title admin" ng-change="titleChange(child)" ng-model="child.concept.title" value="{{child.concept.title}}" ng-blur="titleBlur(child)" ng-keydown="titleKeyPress($event, child)" />

                </a>

                <span class="glyphicon glyphicon-align-justify action-icon handle" ng-show="hasConceptEditRights"></span>
                <a href ng-show="hasConceptEditRights" ng-click="removeConcept(child)" class="glyphicon glyphicon-remove remove-concept action-icon" title="Remove Concept"></a>
                <!--<a class="glyphicon glyphicon-folder-open add-segment-to-concept action-icon" title="Add Content"></a>-->
                <!--<a href ng-show="!child.children.length" data-ui-sref="contents.createByCourseAndConcept({courseId: course._id, conceptId: child.concept._id, addTo: child.concept._id, mode: 'admin', active: activeHierarchyConcept.concept._id ? activeHierarchyConcept.concept._id : child.concept._id })" data-ui-sref-opts="{absolute: true, inherit: false}" class="glyphicon glyphicon-folder-open add-segment-to-concept action-icon" title="Add Content"></a>-->

                <label for="{{child.concept._id}}_color" class="concept-circle" style="background: {{child.concept.color}}"></label>
                <input type="color" id="{{child.concept._id}}_color" ng-change="colorChange(child)"  ng-show="hasConceptEditRights" data-ng-model="child.concept.color" class="form-control">

                <ul class="alternative-segments" id="concept-segments-{{child.concept._id}}"  ui-sortable="sortableSegmentOptions" ng-model="segmentPerConceptMap[child.concept._id]">
                    <li ng-repeat="seg in segmentPerConceptMap[child.concept._id] track by seg._id" class="segment sortableSegment"  ng-class="{ 'active': (seg._id === courseScope.active.segment._id||stateParams.sourceId === seg.source)}">

                        <span class="concept-line"><span></span></span>

                        <a data-ui-sref="{active: child.concept._id, segment:seg._id, learn: 'yes'}" class="segment-link" title="{{::seg.title}}: {{::courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title}} on {{::courseScope.sourceMap[seg.source].title}}">
                            <span class="{{::courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].icon}} segment-icon"></span>

                        <span class="segment-title">
                            {{::seg.title}}
                            on
                            <i>{{::courseScope.sourceMap[seg.source].title}}</i>

                            <span ng-show="seg.start&&(courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title=='Lecture'||courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title=='YouTube'||courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title=='Harvard Extension School')">
                                (<span ng-show="seg.start>=3600">{{seg.start | secondsToDateTime | date:'HH:mm:ss'}}</span><span ng-show="seg.start<3600">{{seg.start | secondsToDateTime | date:'mm:ss'}}</span>
                                -
                                <span ng-show="seg.end>=3600">{{seg.end | secondsToDateTime | date:'HH:mm:ss'}}</span><span ng-show="seg.end<3600">{{seg.end | secondsToDateTime | date:'mm:ss'}}</span>)
                            </span>
                            <span ng-show="seg.end&&(courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title=='PDF')">
                                (p. {{seg.start}} - {{seg.end}})
                            </span>
                        </span>

                        </a>

                        <span class="segment-actions pull-right">

                            <a href data-ui-sref="contents.editByCourseAndConcept({courseId: course._id, conceptId: activeConcept.concept._id, sourceId: seg.source, mode: 'admin' })" title="Edit Source"><span class="glyphicon glyphicon-pencil edit-source"></span></a>
                            <a href ng-click="removeSegmentFromConcept(seg, child)" title="Remove Segment from Concept"><span class="glyphicon glyphicon-scissors remove-segment-from-concept"></span></a>
                            <!--<a href ng-click="deleteSegment(seg)" title="Delete Segment"><span class="glyphicon glyphicon-remove delete-segment"></span></a>-->
                            <a href class="seg-handle" title="Drag to rearrange"><span class="glyphicon glyphicon-align-justify rearrange-segment"></span></a>
                        </span>
                    </li>

                    <li class="segment add-material" ng-show="!child.children.length">

                        <span class="concept-line"><span></span></span>

                        <a data-ui-sref="contents.createByCourseAndConcept({courseId: course._id, conceptId: child.concept._id, addTo: child.concept._id, mode: 'admin', active: activeHierarchyConcept.concept._id ? activeHierarchyConcept.concept._id : child.concept._id })" data-ui-sref-opts="{absolute: true, inherit: false}" class="segment-link" title="Add Segment" style="color: darkgreen">
                            <span class="glyphicon glyphicon-plus segment-icon"></span>

                        <span class="segment-title">
                            Add Material
                        </span>

                        </a>
                    </li>
                    <li class="segment add-subconcept" ng-show="(!segmentPerConceptMap[child.concept._id]||segmentPerConceptMap[child.concept._id].length==0)&&hasConceptEditRights">

                        <span class="concept-line"><span></span></span>

                        <a ng-click="addSubConcept(child)" href class="segment-link" title="Add a child concept to {{child.concept.title}}" style="color: darkblue">
                            <span class="glyphicon glyphicon-plus segment-icon"></span>

                        <span class="segment-title">
                            Add Sub-Concept
                            <span ng-show="child.children.length>0">(Currently {{child.children.length}})</span>
                        </span>

                        </a>
                    </li>
                </ul>

            </li>

            <li class="concept not-sortable" ng-show="hasConceptEditRights">

                <a class="concept add-concept" ng-click="addConcept()" href>
                    <span class="glyphicon glyphicon-plus addConceptIcon" style=""></span>
                    <span class="concept-circle" style="background: #008800"></span>
                    <span class="concept-line"><span></span></span>
                    <span class="concept-title admin" style="color:#008800">Add Concept</span>

                </a>

            </li>


        </ul>
    </li>
</ul>
