<ul ng-if="activeMode=='admin'" class="course-list" style="border-color: {{getPathColor(currentGoal.concept.color)}}">

    <li class="concept">

        <a data-ui-sref="{active: activeConcept.parentData.concept._id}" tabindex="-1" title="{{activeConcept ? activeConcept.concept.title : course.short}}">

            <span class="concept-circle" style="background: #fff"></span>
            <span class="concept-line"><span></span></span>
            <span class="concept-title">{{activeHierarchyConcept ? activeHierarchyConcept.concept.title : course.short}}</span>

        </a>

        <ul class="concept-list" ui-sortable="sortableOptions" ng-model="activeHierarchyChildren">
            <li ng-repeat="child in activeHierarchyChildren | orderBy:'order':false" class="concept sortableConcept"  ng-class="{ 'active': activeConcept.concept._id === child.concept._id,
                        'learned':  active.learnedConceptIds.indexOf(child.concept._id) !== -1, 'addingTo': addToConcept.concept._id == child.concept._id}">

                <a class="concept">

                    <span class="concept-line"><span></span></span>

                    <input id="concept-title-{{child.concept._id}}" class="concept-title admin" ng-change="titleChange(child)" ng-model="child.concept.title" value="{{child.concept.title}}" ng-blur="titleBlur(child)" ng-keydown="titleKeyPress($event, child)" />

                </a>

                <span class="glyphicon glyphicon-align-justify action-icon handle" ng-show="hasConceptEditRights"></span>
                <a href ng-show="hasConceptEditRights" ng-click="removeConcept(child)" class="glyphicon glyphicon-remove remove-concept action-icon" title="Remove Concept"></a>
                <!--<a class="glyphicon glyphicon-folder-open add-segment-to-concept action-icon" title="Add Content"></a>-->
                <!--<a href ng-show="!child.children.length" data-ui-sref="contents.createByCourseAndConcept({courseId: course._id, conceptId: child.concept._id, addTo: child.concept._id, mode: 'admin', active: activeHierarchyConcept.concept._id ? activeHierarchyConcept.concept._id : child.concept._id })" data-ui-sref-opts="{absolute: true, inherit: false}" class="glyphicon glyphicon-folder-open add-segment-to-concept action-icon" title="Add Content"></a>-->

                <label for="{{child.concept._id}}_color" class="concept-circle" style="background: {{child.concept.color}}"></label>
                <input type="color" id="{{child.concept._id}}_color" ng-change="colorChange(child)"  ng-show="hasConceptEditRights" data-ng-model="child.concept.color" class="form-control">

                <segment-list segments="segmentAndGroupPerConceptMap[child.concept._id]" concept="child"></segment-list>

            </li>

            <li class="concept not-sortable" ng-show="hasConceptEditRights">

                <a class="concept add-concept" ng-click="addConcept()" href>
                    <span class="glyphicon glyphicon-plus addConceptIcon" style=""></span>
                    <span class="concept-circle" style="background: #008800"></span>
                    <span class="concept-line"><span></span></span>
                    <span class="concept-title admin" style="color:#008800">Add Concept</span>

                </a>

            </li>


        </ul>
    </li>
</ul>
