<li class="concept concept-{{::concept.concept._id}}"
    ng-class="{ 'active': concept.active, 'inactive': !concept.active && concept.inGoalHierarchy && concept.inHoverHierarchy, 'notOnPlan': concept.notOnPlan, 'hover': concept.hover, 'goal': concept.goal }"
    tabindex="-1">

    <span ng-show="concept.isSeen&&!concept.learned&&!concept.goal" class="concept-seen glyphicon glyphicon-eye-open"></span>
    <span ng-show="concept.learned&&!concept.goal" class="concept-tick glyphicon glyphicon-ok"></span>
    <span ng-show="concept.learned" class="sr-only">Learned: </span>

    <a data-ui-sref="{active: concept.concept._id, learn: courseScope.segmentPerConceptMap[concept.concept._id].length>0 ? courseScope.learnModeYesNo : 'no', segment: '' }"
       ng-mouseover="courseScope.hoverConceptPanel(concept)" ng-mouseleave="courseScope.leaveConceptPanel(concept)"
       ng-focus="courseScope.activeConcept.concept._id == concept.concept._id"
       tabindex="0"
       id="panel-concept-{{concept.concept._id}}"
       ng-click="courseScope.conceptClick(concept, $event)">

        <span class="concept-circle" ng-click="courseScope.conceptCircleClick(concept, $event)" style="background: {{::concept.concept.color}}"></span>
        <span class="concept-line">
            <span></span>
        </span>
        <span class="flag glyphicon glyphicon-flag"></span>

        <span class="concept-title" id="panel-concept-title-{{concept.concept._id}}">{{::concept.concept.title}}</span>

    </a>

    <segment-list ng-if="courseScope.activeConcept.concept._id == concept.concept._id || (!concept.notOnPlan && courseScope.search.active)"
                  segments="courseScope.segmentAndGroupPerConceptMap[concept.concept._id]" concept="concept"></segment-list>


    <ul class="concept-list concept-list-nested" ng-if="!concept.notOnPlan && concept.planChildren.length" aria-label="Concepts">

        <concept concept="concept" ng-repeat="concept in concept.children track by concept.concept._id"></concept>
    </ul>

</li>
