<li class="concept"
    ng-class="{ 'active': concept.active, 'inactive': !concept.active && concept.inGoalHierarchy && concept.inHoverHierarchy, 'hover': concept.hover, 'goal': concept.goal }"
    aria-label="{{::concept.concept.title}}">

    <span ng-show="concept.learned" class="concept-tick glyphicon glyphicon-ok"></span>
    <span ng-show="concept.learned" class="sr-only">Learned: </span>

    <a data-ui-sref="{active: concept.concept._id}"
       ng-mouseover="hoverConceptPanel(concept)" ng-mouseleave="leaveConceptPanel(concept)"
       tabindex="0"
       title="{{::concept.concept.title}}">

        <span class="concept-circle" style="background: {{::concept.concept.color}}"></span>
        <span class="concept-line"></span>
        <span class="flag glyphicon glyphicon-flag"></span>

        <span class="concept-title">{{::concept.concept.title}}</span>

    </a>


    <ul ng-show="courseScope.activeConcept.concept._id == concept.concept._id" class="alternative-segments">
        <li ng-repeat="seg in courseScope.active.segments track by seg._id" class="segment" ng-class="{ 'active': seg._id === courseScope.active.segment._id}">

            <span class="concept-line"></span>

            <a data-ui-sref="{active: concept.concept._id, segment:seg._id, learn: 'yes'}" title="{{::courseScope.sourcetypeMap[sourceMap[seg.source].type].title}} on {{::courseScope.sourceMap[seg.source].title}}">
                <span class="{{::courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].icon}} segment-icon"></span>
                <span class="segment-title">{{::courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title}} on <i>{{::courseScope.sourceMap[seg.source].title}}</i></span>
            </a>
        </li>
    </ul>

    <ul class="concept-list concept-list-nested" ng-if="concept.planChildren.length">

        <concept concept="concept" ng-repeat="concept in concept.planChildren track by concept.concept._id"></concept>
    </ul>

</li>
