<li class="concept concept-{{::concept.concept._id}}"
    ng-class="{ 'active': concept.active, 'inactive': !concept.active && concept.inGoalHierarchy && concept.inHoverHierarchy, 'notOnPlan': concept.notOnPlan, 'hover': concept.hover, 'goal': concept.goal }"
    aria-label="{{::concept.concept.title}}">

    <span ng-show="concept.isSeen&&!concept.learned&&!concept.goal" class="concept-seen glyphicon glyphicon-eye-open"></span>
    <span ng-show="concept.learned&&!concept.goal" class="concept-tick glyphicon glyphicon-ok"></span>
    <span ng-show="concept.learned" class="sr-only">Learned: </span>

    <a data-ui-sref="{active: concept.concept._id, learn: courseScope.segmentPerConceptMap[concept.concept._id].length>0 ? courseScope.learnModeYesNo : 'no', segment: '' }"
       ng-mouseover="courseScope.hoverConceptPanel(concept)" ng-mouseleave="courseScope.leaveConceptPanel(concept)"
       tabindex="0"
       id="panel-concept-{{concept.concept._id}}"
       ng-click="courseScope.conceptClick(concept, $event)"
       title="{{::concept.concept.title}}">

        <span class="concept-circle" ng-click="courseScope.conceptCircleClick(concept, $event)" style="background: {{::concept.concept.color}}"></span>
        <span class="concept-line">
            <span></span>
        </span>
        <span class="flag glyphicon glyphicon-flag"></span>

        <span class="concept-title" id="panel-concept-title-{{concept.concept._id}}">{{::concept.concept.title}}</span>

    </a>


    <ul ng-show="courseScope.activeConcept.concept._id == concept.concept._id" class="alternative-segments">
        <li ng-repeat="seg in courseScope.active.segments track by seg._id" class="segment" ng-class="{ 'active': seg._id === courseScope.active.segment._id}">

            <span class="concept-line"><span></span></span>

            <a data-ui-sref="{active: concept.concept._id, segment:seg._id, learn: 'yes'}"
               class="segment-link"
               id="panel-segment-{{seg._id}}"
               ng-click="courseScope.segmentClick(seg, concept, $event)"
               title="{{::seg.title}}: {{::courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title}} on {{::courseScope.sourceMap[seg.source].title}}"
            >
                <span class="{{::courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].icon}} segment-icon"></span>

                <span class="segment-title" id="panel-segment-title-{{seg._id}}">
                    {{::seg.title}}
                    in
                    <i>{{::courseScope.sourceMap[seg.source].title}}</i>

                    <span ng-show="seg.start&&(courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title=='Lecture'||courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title=='YouTube'||courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title=='Harvard Extension School')">
                        (<span ng-show="seg.start>=3600">{{seg.start | secondsToDateTime | date:'HH:mm:ss'}}</span><span ng-show="seg.start<3600">{{seg.start | secondsToDateTime | date:'mm:ss'}}</span>
                        -
                        <span ng-show="seg.end>=3600">{{seg.end | secondsToDateTime | date:'HH:mm:ss'}}</span><span ng-show="seg.end<3600">{{seg.end | secondsToDateTime | date:'mm:ss'}}</span>)
                    </span>
                    <span ng-show="seg.end&&(courseScope.sourcetypeMap[courseScope.sourceMap[seg.source].type].title=='PDF')">
                        (p. {{seg.start}} - {{seg.end}})
                    </span>
                </span>
            </a>
        </li>
    </ul>

    <ul class="concept-list concept-list-nested" ng-if="!concept.notOnPlan && concept.planChildren.length">

        <concept concept="concept" ng-repeat="concept in concept.children track by concept.concept._id"></concept>
    </ul>

</li>
