<div ng-hide="activeConcept">
    <header style="background: #f0f0f0" ng-swipe-left="minimize()"  ng-swipe-right="maximize()">

        <div ng-show="active.watchableConcept&&!learnMode&&activeMode!='lecture'">
            <a title="Watch Lecture on {{active.watchableConcept.concept.title}}" class="pull-right panel-button play learnmode-{{learnMode}}"
               data-ui-sref="{active: active.watchableConcept.concept._id, learn: 'yes'}">
                <span ng-hide="learnMode" class="glyphicon glyphicon-play"></span>
            </a>
        </div>

        <div ng-show="activeLectures.length&&!learnMode&&activeMode=='lecture'">
            <a title="Watch {{activeLectures[0].lecture.title}}" class="pull-right panel-button play learnmode-{{learnMode}}"
               data-ui-sref="{source: activeLectures[0].lecture._id, learn: 'yes'}">
                <span ng-hide="learnMode" class="glyphicon glyphicon-play"></span>
            </a>
        </div>

        <a ng-show="learnMode" class="pull-right panel-button play learnmode-{{learnMode}}" title="Show Course Map"
           data-ui-sref="{active: '', learn: 'no'}">
            <span class="glyphicon glyphicon-map-marker"></span>
        </a>

        <a ng-show="goalConcept&&activeMode=='plan'" class="pull-right panel-button learnmode-{{learnMode}}" title="Unset goal"
           data-ui-sref="{goal: ''}">
            <span class="glyphicon glyphicon-flag unsetgoal">/</span>
        </a>

        <ol>
        </ol>
        <h2>{{course.title}}</h2>
    </header>

    <!--<p ng-show="course.description">{{course.description}}</p>-->
</div>

<div ng-show="activeConcept">

    <header ng-swipe-left="minimize()"  ng-swipe-right="maximize()" style="background: {{activeConcept.concept.color}}; border-right: 1px solid {{activeColorDarker}}; {{panelWidth<300 ? 'height: 80px;' : ''}} ">

        <div ng-show="active.watchableConcept&&!learnMode&&activeMode!='lecture'">
            <a title="Watch Lecture on {{active.watchableConcept.concept.title}}" class="pull-right panel-button play learnmode-{{learnMode}}"
               data-ui-sref="{active: active.watchableConcept.concept._id, learn: 'yes'}">
                <span ng-hide="learnMode" class="glyphicon glyphicon-play"></span>
            </a>
        </div>

        <div ng-show="activeLectures.length&&!learnMode&&activeMode=='lecture'">
            <a title="Watch {{activeLectures[0].lecture.title}}" class="pull-right panel-button play learnmode-{{learnMode}}"
               data-ui-sref="{source: activeLectures[0].lecture._id, learn: 'yes'}">
                <span ng-hide="learnMode" class="glyphicon glyphicon-play"></span>
            </a>
        </div>

        <a ng-show="learnMode||editSourceMode" class="pull-right panel-button play learnmode-{{learnMode}}" title="Show Course Map"
           data-ui-sref="{mode: activeMode=='minimap'?'plan':activeMode, learn: 'no'}">
            <!--<span class="glyphicon glyphicon-map-marker"></span>-->
            <span class="map-icon map-icon-large"></span>
        </a>

        <a ng-show="!goalConcept&&activeMode=='plan'" class="pull-right panel-button learnmode-{{learnMode}}" title="Set {{activeConcept.concept.title}} as goal"
           data-ui-sref="{goal: activeConcept.concept._id }">
            <span class="glyphicon glyphicon-flag setgoal"></span>
        </a>

        <a ng-show="goalConcept&&activeMode=='plan'" class="pull-right panel-button unset-goal learnmode-{{learnMode}}" title="Unset goal"
           data-ui-sref="{goal: ''}">
            <span class="glyphicon glyphicon-flag unsetgoal">/</span>
        </a>

        <ol ng-hide="panelWidth<300">
            <li>
                <a data-ui-sref="{active: ''}">{{course.short}}</a>
            </li>
            <li ng-if="activeConcept.parentData&&activeMode=='hierarchy'" ng-repeat="selected in active.hierarchy" ng-show="selected.concept._id!==activeConcept.concept._id&&selected.concept._id!==activeHierarchyConcept.concept._id">
                <a data-ui-sref="{active: selected.concept._id, goal: selected.concept._id}">{{selected.concept.title}}</a>
            </li>
            <li ng-if="activeConcept.parentData&&(activeMode=='plan'||activeMode=='lecture')" ng-repeat="selected in active.hierarchy" ng-show="selected.concept._id!==activeConcept.concept._id">
                <a data-ui-sref="{active: selected.concept._id, goal: selected.concept._id}">{{selected.concept.title}}</a>
            </li>
        </ol>

        <h2 ng-if="activeMode=='hierarchy'" ng-hide="panelWidth<300">{{activeHierarchyConcept.concept.title}}</h2>
        <h2 ng-if="activeMode=='plan'||activeMode=='lecture'||activeMode=='minimap'||activeMode=='admin'" ng-hide="panelWidth<300">{{activeConcept.concept.title}}</h2>
    </header>

</div>

<div class="row">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="panel-tab" ng-class="{ 'active': activeMode==='plan'}" style="background: {{activeConcept.concept.color}}">
            <a data-ui-sref="{mode: 'plan'}">
                <span class="glyphicon glyphicon-road inline-block"></span> <span ng-hide="panelWidth<300">Learning Plan</span></a></li>
        <!--<li role="presentation" class="panel-tab" ng-class="{ 'active': activeMode==='hierarchy'}" style="background: {{activeConcept.concept.color}}">
            <a href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{activeConcept.concept._id}}&learn={{learnModeYesNo}}&mode=hierarchy">
                <span class="glyphicon glyphicon-info-sign visible-lg-inline-block"></span> Information</a></li>-->

        <li ng-show="learnMode" role="presentation" class="panel-tab" ng-class="{ 'active': activeMode==='minimap'}" style="background: {{activeConcept.concept.color}}">
            <a data-ui-sref="{mode: 'minimap'}" ng-disabled="!learnMode">
                <span class="map-icon inline-block"></span> <span ng-hide="panelWidth<300">Minimap</span></a></li>

        <li role="presentation" class="panel-tab" ng-class="{ 'active': activeMode==='lecture'}" style="background: {{activeConcept.concept.color}}">
            <a data-ui-sref="{mode: 'lecture'}">
                <span class="fa fa-university inline-block"></span> <span ng-hide="panelWidth<300">Lectures</span></a></li>

        <li role="presentation" ng-show="hasConceptEditRights" class="panel-tab" ng-class="{ 'active': activeMode==='admin'}" style="background: {{activeConcept.concept.color}}">
            <a data-ui-sref="{mode: 'admin'}">
                <span class="fa fa-lock inline-block"></span> <span ng-hide="activeMode!=='admin'">Admin</span></a></li>



    </ul>
</div>



<!--
<h3>Concepts</h3>
    <ul class="concept-panel conceptList">
        <li ng-repeat="child in topLevelConcepts | orderBy:'order':false">
            <a href ng-click="activateConcept(child, 1)" class="concept">{{child.concept.title}}</a>
        </li>
    </ul>
-->
<div class="concept-panel row">
    <!--<h3>Concepts in {{activeHierarchyConcept.concept.title}}</h3>-->

    <div ng-show="activeMode=='hierarchy'||activeMode=='admin'" class="panel-content" ng-class="{'panel-content-active': activeMode=='hierarchy'||activeMode=='admin'}" style="height: {{panelContentHeightMax-160}}px; ">

        <p><i>What's within {{activeHierarchyConcept.concept.title}}?</i></p>

        <div class="learningLine">

            <ng-include src="'/modules/concepts/views/panel/admin.client.view.html'" />

            <ul ng-hide="activeMode=='admin'" class="concept-list">
                <li ng-repeat="child in activeHierarchyChildren | orderBy:'order':false" class="concept"  ng-class="{ 'active': activeConcept.concept._id === child.concept._id,
                        'learned':  active.learnedConceptIds.indexOf(child.concept._id) !== -1}">

                    <a data-ui-sref="{active: child.concept._id, goal: child.concept._id}" class="concept">
                        <span class="concept-circle" style="background: {{child.concept.color}}"></span>
                        <span class="concept-line"></span>
                        {{child.concept.title}}
                    </a>

                    <ul ng-show="activeConcept.concept._id === child.concept._id" class="alternative-segments">
                        <li ng-repeat="seg in active.segments" class="segment" ng-class="{ 'active': seg._id === active.segment._id}">


                            <a data-ui-sref="{active: child.concept._id, segment: seg._id, learn: 'yes'}" title="{{seg.sourcetypeObject.title}}: {{seg.title}}">

                                <span class="concept-line lowest"></span>
                                <span class="{{seg.sourcetypeObject.icon}} segment-icon"></span>
                                {{seg.title}}
                            </a>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>

    <div ng-show="activeMode=='lecture'" class="panel-content" ng-class="{'panel-content-active': activeMode=='lecture'}" style="height: {{panelContentHeightMax-160}}px; ">

        <!--<h3>Concepts in {{activeLecture.title}}</h3>-->
        <p ng-show="activeConcept"><i>Which Lectures cover parts of {{activeConcept.concept.title}}?</i></p>
        <p ng-hide="activeConcept"><i>Which Lectures cover parts of {{course.short}}?</i></p>

        <ul class="lectureList">
            <li class="lecture" ng-repeat="lecture in activeLectures">

                <div class="pull-right" style="font-size: 16pt; position: relative; top:-5px">
                    <a  data-ui-sref="{}"><i class="fa fa-file-pdf-o"></i></a>
                    <a  data-ui-sref="{}"><i class="fa fa-file-video-o"></i></a>
                </div>

                <span class="concept-line"></span>

                <a  data-ui-sref="{source: lecture.lecture._id, learn: 'yes'}">

                    <span class="fa fa-university"></span> <b>{{lecture.lecture.title}}</b>
                </a>



                <ul class="concept-list">
                    <li ng-repeat="child in lecture.concepts" class="concept"  ng-class="{ 'active': activeConcept.concept._id === child._id,
                    'learned':  active.learnedConceptIds.indexOf(child._id) !== -1}">



                        <a  data-ui-sref="{active: child._id}" class="concept">
                            <span class="concept-circle" style="background: {{child.color}}"></span>
                            <span class="concept-line"></span>
                            {{child.title}}
                        </a>

                        <ul ng-show="activeConcept.concept._id === child._id" class="alternative-segments">
                            <li ng-repeat="seg in active.segments" class="segment" ng-class="{ 'active': seg._id === active.segment._id}">



                                <a  data-ui-sref="{active: child._id, segment: seg._id, learn: 'yes'}" title="{{seg.sourcetypeObject.title}}: {{seg.title}}">

                                    <span class="concept-line lowest"></span>
                                    <span class="{{seg.sourcetypeObject.icon}} segment-icon"></span>
                                    <span class="segment-title">{{seg.title}}</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                </ul>

            </li>
        </ul>
    </div>

    <div ng-show="activeMode=='plan'" class="panel-content" ng-class="{'panel-content-active': activeMode=='plan'}" style="height: {{activeConcept ? panelContentHeightMax-160 : panelContentHeightMax}}px; ">

        <p><i>How do I learn

            <span ng-if="currentGoal">{{currentGoal.concept.title}}?</span>
            <span ng-if="!currentGoal">{{course.short}}?</span>

        </i></p>

        <ul class="course-list" style="border-color: {{getPathColor(currentGoal.concept.color)}}">

            <li class="concept">

                <a data-ui-sref="{active: ''}">

                    <span class="concept-circle" style="background: #fff"></span>
                    <span class="concept-line"></span>
                    <span  class="concept-title">{{course.short}}</span>

                </a>

                <ul class="concept-list">
                    <li ng-repeat="provider in planConcepts" class="concept" ng-class="{ 'active': d.active, 'inactive': !d.active && provider.inGoalHierarchy && active.hoverHierarchyIds.indexOf(provider.concept._id) === -1, 'hover': active.hoveringConceptIds.indexOf(provider.concept._id) !== -1,
                            'learned':  active.learnedConceptIds.indexOf(provider.concept._id) !== -1, 'goal': provider.goal }">


                        <span ng-show="provider.learned" class="concept-tick glyphicon glyphicon-ok"></span>

                        <span ng-show="goalConcept.concept._id == provider.concept._id" class="flag glyphicon glyphicon-flag"></span>

                        <a data-ui-sref="{active: provider.concept._id}"
                           ng-mouseover="hoverConceptPanel(provider)" ng-mouseleave="leaveConceptPanel(provider)">
                            <span class="concept-circle" style="background: {{provider.concept.color}}"></span>
                            <span class="concept-line"></span>
                            <span class="flag glyphicon glyphicon-flag"></span>

                            <span class="concept-title">{{provider.concept.title}}</span>
                        </a>

                        <ul class="concept-list concept-list-nested" ng-if="provider.planChildren.length">

                            <li class="concept" ng-repeat="concept in provider.planChildren" ng-class="{ 'active': concept.active, 'inactive': !concept.active && concept.inGoalHierarchy && concept.inHoverHierarchy, 'hover': concept.hover, 'goal': concept.goal }">


                                <span ng-show="concept.learned" class="concept-tick glyphicon glyphicon-ok"></span>

                                <a data-ui-sref="{active: concept.concept._id}"
                                   ng-mouseover="hoverConceptPanel(concept)" ng-mouseleave="leaveConceptPanel(concept)">

                                    <span class="concept-circle" style="background: {{concept.concept.color}}"></span>
                                    <span class="concept-line"></span>
                                    <span class="flag glyphicon glyphicon-flag"></span>

                                    <span class="concept-title">{{concept.concept.title}}</span>
                                </a>

                                <ul class="concept-list concept-list-nested" ng-if="concept.planChildren.length">

                                    <li class="concept" ng-repeat="child in concept.planChildren" ng-class="{ 'active': child.active, 'inactive': !child.active && child.inGoalHierarchy && child.inHoverHierarchy, 'hover': child.hover, 'goal': child.goal }">

                                        <span ng-show="child.learned" class="concept-tick glyphicon glyphicon-ok"></span>

                                        <a data-ui-sref="{active: child.concept._id}"
                                           ng-mouseover="hoverConceptPanel(child)" ng-mouseleave="leaveConceptPanel(child)">

                                            <span class="concept-circle" style="background: {{child.concept.color}}"></span>
                                            <span class="concept-line"></span>
                                            <span class="flag glyphicon glyphicon-flag"></span>

                                            <span class="concept-title">{{child.concept.title}}</span>

                                        </a>

                                        <ul ng-show="activeConcept.concept._id === child.concept._id" class="alternative-segments">
                                            <li ng-repeat="seg in active.segments" class="segment" ng-class="{ 'active': seg._id === active.segment._id}">

                                                <span class="concept-line"></span>

                                                <a data-ui-sref="{active: child.concept._id, segment:seg._id, learn: 'yes'}" title="{{sourcetypeMap[sourceMap[seg.source].type].title}} on {{sourceMap[seg.source].title}}">
                                                    <span class="{{sourcetypeMap[sourceMap[seg.source].type].icon}} segment-icon"></span>
                                                    <span class="segment-title">{{sourcetypeMap[sourceMap[seg.source].type].title}} on <i>{{sourceMap[seg.source].title}}</i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div ng-show="activeMode=='minimap'" class="panel-content"  ng-class="{'panel-content-active': activeMode=='minimap'}" style="height: {{panelContentHeightMax-115}}px; ">



    </div>

    <footer class="learning-buttons col-md-3" ng-show="activeMode=='admin'">

        <hr />

        <div class="row">

        </div>

        <div class="row">

        </div>

    </footer>

    <footer class="learning-buttons col-md-3" ng-show="activeConcept&&activeMode!='admin'">

        <hr />

        <div class="buttonRow">

            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"
                        ng-class="{'btn-primary': !seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1 }"
                        ng-click="notUnderstoodClick();unseeConcept(activeConcept.concept._id)"
                        ng-disabled="!seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1">
                    <span class="glyphicon glyphicon-eye-close"></span>
                    Not Seen
                </button>
                <button type="button" class="btn btn-default"
                        ng-class="{'btn-primary': seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1 }"
                        ng-click="notUnderstoodClick();seeConcept(activeConcept.concept._id)"
                        ng-disabled="seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Seen
                </button>
                <button type="button" class="btn btn-default"
                        ng-class="{'btn-primary': active.learnedConceptIds.indexOf(activeConcept.concept._id)!==-1 }"
                        ng-click="understoodClick()"
                        ng-disabled="active.learnedConceptIds.indexOf(activeConcept.concept._id)!==-1">
                    <span class="glyphicon glyphicon-ok"></span>
                    Understood
                </button>
            </div>

        </div>

        <div class="buttonRow ng-hide">

            <!--<a ng-show="seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="unseeConcept(activeConcept.concept._id)"
               class="btn btn-warning dropdown-toggle pull-right halfWidthBtn" aria-expanded="false"
               title="Mark {{activeConcept.concept.title}} as not seen"
                    >
                <span class="glyphicon glyphicon-eye-close"> </span> Mark Not Seen.
            </a>

            <a ng-show="!seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="seeConcept(activeConcept.concept._id)"
               class="btn btn-success dropdown-toggle pull-right halfWidthBtn" aria-expanded="false"
               title="Mark {{activeConcept.concept.title}} as seen"
                    >
                <span class="glyphicon glyphicon-eye-open"> </span> Mark Seen.
            </a>

            <a ng-show="seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="understoodClick()"
               class="btn btn-success dropdown-toggle pull-right halfWidthBtn" aria-expanded="false"
               title="Mark {{goalConcept.concept.title}} as understood"
                    >
                <span class="glyphicon glyphicon-ok"> </span> Understood.
            </a>

            <a ng-hide="active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="notUnderstoodClick()"
               class="btn btn-warning dropdown-toggle pull-right halfWidthBtn" aria-expanded="false"
               title="Mark {{goalConcept.concept.title}} as not understood"
                    >
                <span class="glyphicon glyphicon-remove"> </span> Not Understood.
            </a>-->



            <a type="button" ng-disabled="!nextSegment" ng-click="moreMaterialClick()"
               data-ui-sref="{segment: nextSegment._id}}}"
               class="btn btn-warning dropdown-toggle pull-left halfWidthBtn" data-toggle="dropdown" aria-expanded="false">
                <span class="glyphicon glyphicon-arrow-right"> </span> More on this!
            </a>

        </div>

        <div class="buttonRow">
            <a type="button" ng-click="previousClick()" ng-disabled="!previousConcept"
                data-ui-sref="{active: previousConcept.concept._id}"
               class="btn btn-primary dropdown-toggle pull-left halfWidthBtn" aria-expanded="false"
               title="Next: {{previousConcept.concept.title}}">
                <span class="glyphicon glyphicon-arrow-up"> </span>
                <span>Previous</span>
            </a>

            <a type="button" ng-click="nextClick()" ng-show="nextConcept"
                data-ui-sref="{active: nextConcept.concept._id}"
               class="btn btn-primary dropdown-toggle pull-right halfWidthBtn" aria-expanded="false"
               title="Next: {{nextConcept.concept.title}}">
                <span class="glyphicon glyphicon-arrow-down"> </span>
                <span>Next!</span>
            </a>
        </div>




    </footer>

</div>
