<div class="panel-minimized">


    <div ng-show="activeConcept">

        <header style="background: {{activeConcept.concept.color}}; border-right: 1px solid {{activeColorDarker}};">

            <div ng-show="active.watchableConcept&&!learnMode&&activeMode!='lecture'">
                <a title="Watch Lecture on {{active.watchableConcept.concept.title}}" class="pull-right panel-button play learnmode-{{learnMode}}"
                   href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{active.watchableConcept.concept._id}}&mode={{activeMode}}&learn=yes">
                    <span ng-hide="learnMode" class="glyphicon glyphicon-play"></span>
                </a>
            </div>

            <div ng-show="activeLectures.length&&!learnMode&&activeMode=='lecture'">
                <a title="Watch {{activeLectures[0].lecture.title}}" class="pull-right panel-button play learnmode-{{learnMode}}"
                   href="/#!/courses/{{courseId}}?source={{activeLectures[0].lecture._id}}&mode={{activeMode}}&learn=yes">
                    <span ng-hide="learnMode" class="glyphicon glyphicon-play"></span>
                </a>
            </div>

            <a ng-show="learnMode" class="pull-right panel-button play learnmode-{{learnMode}}" title="Show Course Map"
               href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{activeConcept.concept._id}}&mode={{activeMode=='minimap'?'plan':activeMode}}&learn=no">
                <!--<span class="glyphicon glyphicon-map-marker"></span>-->
                <span class="map-icon visible-lg-inline-block"></span>
            </a>

            <a ng-show="!goalConcept&&activeMode=='plan'" class="pull-right panel-button learnmode-{{learnMode}}" title="Set {{activeConcept.concept.title}} as goal"
               href="/#!/courses/{{courseId}}?goal={{activeConcept.concept._id}}&active={{activeConcept.concept._id}}&mode={{activeMode}}&learn={{learnModeYesNo}}">
                <span class="glyphicon glyphicon-flag setgoal"></span>
            </a>

            <a ng-show="goalConcept&&activeMode=='plan'" class="pull-right panel-button unset-goal learnmode-{{learnMode}}" title="Unset goal"
               href="/#!/courses/{{courseId}}?goal=&active={{activeConcept.concept._id}}&mode={{activeMode}}&learn={{learnModeYesNo}}">
                <span class="glyphicon glyphicon-flag unsetgoal">/</span>
            </a>

        </header>

    </div>


    <ul class="course-list" style="border-color: {{getPathColor(currentGoal.concept.color)}}">

        <li class="concept">

            <ul class="concept-list">
                <li ng-repeat="provider in active.topLevelConcepts" ng-if="activeDependencyProviderIds.indexOf(provider.concept._id)!==-1" class="concept" ng-class="{ 'active': active.hierarchyIds.indexOf(provider.concept._id) !== -1, 'inactive': active.hierarchyIds.indexOf(provider.concept._id) === -1 && active.goalHierarchyIds.indexOf(provider.concept._id) === -1 && active.hoverHierarchyIds.indexOf(provider.concept._id) === -1, 'hover': active.hoveringConceptIds.indexOf(provider.concept._id) !== -1,
                                'learned':  active.learnedConceptIds.indexOf(provider.concept._id) !== -1, 'goal': goalConcept.concept._id === provider.concept._id}">


                    <span ng-hide="active.learnedConceptIds.indexOf(provider.concept._id)===-1" class="concept-tick glyphicon glyphicon-ok"></span>

                    <span ng-show="goalConcept.concept._id == provider.concept._id" class="flag glyphicon glyphicon-flag"></span>

                    <a title="{{provider.concept.title}}" href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{provider.concept._id}}&mode={{activeMode}}&learn={{learnModeYesNo}}"
                       ng-mouseover="hoverConceptPanel(provider)" ng-mouseleave="leaveConceptPanel(provider)">
                        <span class="concept-circle" style="background: {{provider.concept.color}}"></span>
                        <span class="concept-line"></span>
                        <span class="flag glyphicon glyphicon-flag"></span>

                    </a>

                    <ul class="concept-list concept-list-nested" ng-if="(active.hierarchyIds.indexOf(provider.concept._id) !== -1 || active.goalHierarchyIds.indexOf(provider.concept._id) !== -1 || active.hoverHierarchyIds.indexOf(provider.concept._id) !== -1) && provider.children">

                        <li class="concept" ng-repeat="concept in provider.children" ng-if="activeDependencyProviderIds.indexOf(concept.concept._id)!==-1"  ng-class="{ 'active': active.hierarchyIds.indexOf(concept.concept._id) !== -1, 'inactive': active.hierarchyIds.indexOf(concept.concept._id) === -1 && active.goalHierarchyIds.indexOf(concept.concept._id) === -1 && active.hoverHierarchyIds.indexOf(concept.concept._id) === -1, 'hover': active.hoveringConceptIds.indexOf(concept.concept._id) !== -1, 'goal': goalConcept.concept._id === concept.concept._id }">


                            <span ng-hide="active.learnedConceptIds.indexOf(concept.concept._id)===-1" class="concept-tick glyphicon glyphicon-ok"></span>

                            <a title="{{concept.concept.title}}" href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{concept.concept._id}}&mode={{activeMode}}&learn={{learnModeYesNo}}"
                               ng-mouseover="hoverConceptPanel(concept)" ng-mouseleave="leaveConceptPanel(concept)">

                                <span class="concept-circle" style="background: {{concept.concept.color}}"></span>
                                <span class="concept-line"></span>
                                <span class="flag glyphicon glyphicon-flag"></span>

                            </a>

                            <ul class="concept-list concept-list-nested" ng-if="(active.hierarchyIds.indexOf(concept.concept._id) !== -1 || active.goalHierarchyIds.indexOf(concept.concept._id) !== -1 || active.hoverHierarchyIds.indexOf(concept.concept._id) !== -1) && concept.children">

                                <li class="concept" ng-repeat="child in concept.children" ng-if="activeDependencyProviderIds.indexOf(child.concept._id)!==-1" ng-class="{ 'active': active.hierarchyIds.indexOf(child.concept._id) !== -1, 'inactive': active.hierarchyIds.indexOf(child.concept._id) === -1 && active.goalHierarchyIds.indexOf(child.concept._id) === -1 && active.hoverHierarchyIds.indexOf(child.concept._id) === -1, 'hover': active.hoveringConceptIds.indexOf(child.concept._id) !== -1, 'goal': goalConcept.concept._id === child.concept._id }">



                                    <span ng-hide="active.learnedConceptIds.indexOf(child.concept._id)===-1" class="concept-tick glyphicon glyphicon-ok"></span>

                                    <a title="{{child.concept.title}}" href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{child.concept._id}}&mode={{activeMode}}&learn={{learnModeYesNo}}"
                                       ng-mouseover="hoverConceptPanel(child)" ng-mouseleave="leaveConceptPanel(child)">

                                        <span class="concept-circle" style="background: {{child.concept.color}}"></span>
                                        <span class="concept-line"></span>
                                        <span class="flag glyphicon glyphicon-flag"></span>


                                    </a>

                                    <ul ng-show="activeConcept.concept._id === child.concept._id" class="alternative-segments">
                                        <li ng-repeat="seg in active.segments" class="segment" ng-class="{ 'active': seg._id === active.segment._id}">

                                            <span class="concept-line"></span>

                                            <a href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{child.concept._id}}&segment={{seg._id}}&mode={{activeMode}}&learn=yes" title="{{seg.sourcetypeObject.title}} on {{seg.title}}">
                                                <span class="{{seg.sourcetypeObject.icon}} segment-icon"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <footer class="learning-buttons" ng-show="activeConcept&&activeMode!='admin'" style="width:{{panelWidth}}px">

        <hr />


        <a ng-show="active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="understoodClick()"
           class="btn btn-success dropdown-toggle pull-right" aria-expanded="false"
           title="Mark {{goalConcept.concept.title}} as understood"
                >
            <span class="glyphicon glyphicon-ok"> </span>
        </a>

        <a ng-hide="active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="notUnderstoodClick()"
           class="btn btn-warning dropdown-toggle pull-right" aria-expanded="false"
           title="Mark {{goalConcept.concept.title}} as not understood"
                >
            <span class="glyphicon glyphicon-remove"> </span>
        </a>

        <a type="button" ng-click="moreMaterialClick()"
           ng-href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{activeConcept.concept._id}}&mode={{activeMode}}&learn={{learnModeYesNo}}&segment={{nextSegment._id}}"
           class="btn btn-warning dropdown-toggle pull-left" ng-class="{disabled: !nextSegment}" data-toggle="dropdown" aria-expanded="false">
            <span class="glyphicon glyphicon-arrow-right"> </span>
        </a>

        <a type="button" ng-click="previousClick()"
           ng-href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{previousConcept.concept._id}}&mode={{activeMode}}&learn={{learnModeYesNo}}"
           class="btn btn-primary dropdown-toggle pull-left" ng-class="{disabled: !previousConcept}" aria-expanded="false"
           title="Next: {{previousConcept.concept.title}}">
            <span class="glyphicon glyphicon-arrow-up"> </span>
        </a>

        <a type="button" ng-click="nextClick()"
           ng-href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{nextConcept.concept._id}}&mode={{activeMode}}&learn={{learnModeYesNo}}"
           class="btn btn-primary dropdown-toggle pull-right" ng-class="{disabled: !nextConcept}" aria-expanded="false"
           title="Next: {{nextConcept.concept.title}}">
            <span class="glyphicon glyphicon-arrow-down"> </span>
        </a>


    </footer>

</div>
