<div class="container" data-ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a data-ui-sref="home" class="navbar-brand">booc.io</a>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
      <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" data-ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" data-ui-sref-active="active">
            <a data-ui-sref="{{subitem.state}}" data-ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default data-ui-sref="{{item.state}}" data-ng-bind="item.title"></a>
      </li>
      <li ng-controller="MessagesController" ng-init="menuInit()" class="dropdown" dropdown ng-switch="dropdown">
        <a href class="dropdown-toggle" dropdown-toggle data-toggle="button">
          <span>Messages</span>
          <span ng-show="totalNew.length">({{totalNew.length}})</span>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">

          <li data-ng-repeat="chatroom in chatrooms">
            <a href data-ui-sref="messages.viewChatroom({chatroomId: chatroom._id})">Chat with

              <span ng-hide="chatUser._id == user._id" ng-repeat="chatUser in chatroom.users">{{chatUser.displayName}}</span>

              ({{chatroom.newMessages.length}})
            </a>
          </li>

          <li>
            <a data-ui-sref="messages.create">

              Create New
            </a>
          </li>
        </ul>
        <!--<a ng-switch-default data-ui-sref="{{messages.list}}">Messages</a>-->

      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
      <li data-ui-sref-active="active">
        <a data-ui-sref="authentication.signup" class="sign-up-link">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li data-ui-sref-active="active">
        <a data-ui-sref="authentication.signin" class="sign-in-link">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
      <li>
        <a href title="Launch Tour" ng-click="launchTour()" class="tour-launcher" style="padding-bottom: 0;">
          <span style="font-size:1.5em;" class="glyphicon glyphicon-question-sign"></span>
        </a>
      </li>
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li data-ui-sref-active="active">
            <a data-ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li data-ui-sref-active="active">
            <a data-ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li data-ui-sref-active="active" data-ng-show="authentication.user.provider === 'local'">
            <a data-ui-sref="settings.password">Change Password</a>
          </li>
          <li data-ui-sref-active="active">
            <a data-ui-sref="settings.accounts">Manage Social Accounts</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self" class="signout-link">Signout</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
