<section class="container" data-ng-controller="CoursesController">

  <div ng-init="find()">
    <!-- ********************* HEADER ********************* -->
    <div class="kalli-header">
      <div class="kalli-header-title">
        Meet 
        booc.io
      </div>
      <div class="kalli-header-image">
      &nbsp
      </div>
      <div class="kalli-header-subtitle">
        A system for linear and non-linear exploration of educational concepts
      </div>
    </div>
    
    <!-- ********************* STEPS ********************* -->
    <div class="kalli-inline-header">
      How does it work?
    </div>
    <div class="kalli-steps-list">
      <ul>
        <li>1. Sign up with your Gmail or Harvard Key account</li>
        <li>2. Choose the course</li>
        <li>3. Explore the visualization!</li>
      </ul>
    </div>

    <!-- ********************* FEATURES ********************* -->
    <div class="kalli-inline-header">
      Features
    </div>
    <div class="kalli-features-list">
      <ul>
        <li>
          <div class="feature1">&nbsp</div>
          Overview of the course
        </li>
        <li>
          <div class="feature2">&nbsp</div>
          Faster path to learn something specific 
        </li>
        <li>
          <div class="feature3">&nbsp</div>
          Additional materials linked to each concept
        </li>
      </ul>
    </div>

    
    <!-- ********************* COURSES ********************* -->
    <div class="kalli-inline-header">
      Courses
    </div>
    <ng-include src="'modules/courses/views/list-courses.client.view.html'"></ng-include>

    <!-- ********************* LEARN MORE ********************* -->
    <div class="kalli-inline-header">
      Learn more
    </div>
    <!-- ********************* VIDEO ********************* -->
    <div class="kalli-video">
      <!--<video src="/vids/boocio_preview_james_vo.mp4" poster="/vids/posterframe.png" width="600" controls="controls"></video>-->
      <iframe id="ytplayer" class="teaser-video" type="text/html" width="400" height="238"
              src="https://www.youtube.com/embed/-8BBKPrjb3A?autoplay=0&origin=https://booc.io&showinfo=0&rel=0"
              frameborder="0"/>
    </div>

    <!-- ********************* TEAM ********************* -->
    <div class="kalli-inline-header">
      Team
    </div>
    <div class="kalli-team-list">
      <ul>
        <li>
          <div class="profile-photo"></div>
          Michail Swabb <br> email 
        </li>
        <li>
          <div class="profile-photo"></div>
          Hendrik Strobelt <br>  email 
        </li>
        <li>
          <div class="profile-photo"></div>
          James Tompkin <br>  email 
        </li>
        <li>
          <div class="profile-photo"></div>
          Colin Fredericks <br>  email 
        </li>
        <li>
          <div class="profile-photo"></div>
          Gary King <br>  email 
        </li>
        <li>
          <div class="profile-photo"></div>
          Hanspeter Pfister <br>  email 
        </li>
      </ul>
    </div>    
    <!-- ********************* FOOTER ********************* -->
    <div class="kalli-footer-list">
      <ul>
        <li> &nbsp <div class="logo1"></div></li>
        <li> &nbsp <div class="logo2"></div></li>
        <li> &nbsp <div class="logo3"></div></li>
      </ul>
    </div>      

    <!--<ng-include ng-if="!(authentication.user)" src="'modules/users/views/authentication/authentication.client.view.html'"></ng-include>-->
    <!--
      <div class="alert alert-danger" role="alert" data-ng-hide="(authentication.user)">Not authenticated. Please log in.</div>
    -->

  </div>


</section>
