<section ng-show="!authentication.user" ng-controller="WelcomeController" class="container" style="padding-top: 100px">

    <div class="col-md-6 text-center">

        <!--<video src="/vids/boocio_preview_james_vo.mp4" poster="/vids/posterframe.png" width="600" controls="controls"></video>-->
        <iframe id="ytplayer" class="teaser-video" type="text/html" width="600" height="338"
                src="https://www.youtube.com/embed/-8BBKPrjb3A?autoplay=0&origin=https://booc.io&showinfo=0&rel=0"
                frameborder="0"/>

    </div>

    <div class="col-md-6 text-center">
        <div data-ng-include="'/modules/users/views/authentication/authentication.client.view.html'"></div>
    </div>

    <!--<div ui-view></div>-->
</section>
