<section ng-show="!authentication.user" ng-controller="WelcomeController" class="container" style="padding-top: 100px">

    <div class="col-md-6 text-center">

        <video src="/vids/boocio_preview_james_vo.mp4" poster="/vids/posterframe.png" width="600" controls="controls"></video>

    </div>

    <div class="col-md-6 text-center">
        <div data-ng-include="'/modules/users/views/authentication/authentication.client.view.html'"></div>
    </div>

    <!--<div ui-view></div>-->
</section>
