<section data-ng-controller="BackupsController" class="container">

    <div>

        <a href class="btn btn-default pull-right">
            <i class="fa fa-upload"></i>
            Upload JSON file to Import Course
        </a>

        <h2>Course Backups</h2>

        <p>
            Select Course: <course-select style="width: 300px" ng-model="course" ng-change="courseSelect"></course-select>
        </p>


    </div>

    <div ng-show="course">
        <h2>Backups for {{course.title}}</h2>

        <a ng-show="!backup" href class="btn btn-default pull-right" ng-click="createBackup()">
            <i class="fa fa-floppy-o"></i>
            Create Backup
        </a>

        <a ng-show="backup" href="data:{{backup}}" download="course-{{course.short}}-backup-{{date | date:'yyyy-MM-dd-HH:mm'}}.json" class="btn btn-default btn-primary pull-right">
            <i class="fa fa-floppy-o"></i>
            Download Backup
        </a>

        <p ng-show="!backups || !backups.length">No Backups available.</p>

        <div ng-show="backups.length">
            <table class="table">
                <thead>
                    <th>File Name</th>
                </thead>
                <tbody>
                    <tr ng-repeat="backup in backups">
                        <td>{{backup}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</section>
