<section data-ng-controller="BackupsController" class="container">

    <div>


        <div  class="pull-right uploader" ng-show="authentication.isAdmin()">

            <input type="file" ng-model="backupFile" onchange="angular.element(this).scope().upload(this)" />

            <div class="uploader-contents btn btn-default ">
                <i class="fa fa-upload"></i>
                Upload JSON file to Import Course
            </div>

        </div>

        <a href="mailto:me@michaschwab.de" class="pull-right btn btn-default" ng-show="authentication.isTeacher() && !authentication.isAdmin()">

            <i class="fa fa-upload"></i>
            E-Mail us to ask for a course restore

        </a>

        <h2>Course Backups</h2>

        <p>
            Select Course: <course-select style="width: 300px" ng-model="course" ng-change="courseSelect"></course-select>
        </p>


    </div>

    <div ng-show="!courseId">

        <h3>Other Course Backups</h3>

        <p>There are also backups available for deleted courses with the following IDs:</p>

        <ul>
            <li ng-repeat="backupCourseId in backupCourseIds" ng-show="!courseMap[backupCourseId]">
                <a data-ui-sref="backups.manageByCourse({courseId: backupCourseId})">{{backupCourseId}}</a>
            </li>
        </ul>

    </div>

    <div ng-show="courseId">
        <h2>
            Backups for
            <span ng-show="course">{{course.title}}</span>
            <span ng-show="!course">{{courseId}} (Deleted Course)</span>
        </h2>

        <a ng-show="!backup" href class="btn btn-default pull-right" ng-click="createBackup()">
            <i class="fa fa-floppy-o"></i>
            Create Backup
        </a>

        <a ng-show="backup" href="data:{{backup}}" download="course-{{course.short}}-backup-{{date | date:'yyyy-MM-dd-HH:mm'}}.json" class="btn btn-default btn-primary pull-right">
            <i class="fa fa-floppy-o"></i>
            Download Backup
        </a>

        <p ng-show="!backups || !backups.length">No Backups available.</p>

        <div ng-show="backups.length">
            <table class="table">
                <thead>
                    <th>File Name</th>
                    <th>Options</th>
                </thead>
                <tbody>
                    <tr ng-repeat="backup in backups">
                        <td>{{backup}}</td>
                        <td>
                            <a href="/api/backups/{{courseId}}/{{backup}}" target="_blank" class="btn btn-default">
                                <i class="fa fa-floppy-o"></i>
                                Download
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>


</section>
