<section data-ng-controller="CreatorController" class="contentCol" data-ng-init="init()" style="margin-bottom: 200px; width: {{contentWidth}}px; padding: 0 40px">
    <div class="page-header">
        <h1>
            <!--<span ng-if="possibleActions[activeAction].indexOf('[icon]')>-1">
                {{possibleActions[activeAction].substr(0, possibleActions[activeAction].indexOf('[icon]'))}}

                {{possibleActions[activeAction].substr( possibleActions[activeAction].indexOf('[icon]')+6)}}
            </span>
            <span ng-if="possibleActions[activeAction].indexOf('[icon]')==-1">
                {{possibleActions[activeAction]}}

                Existing Source
            </span>-->

            <span  ng-show="activeAction==='add'">
                Add Material
                <span ng-show="addToConcept">
                    to {{::addToConcept.concept.title}}
                </span>
            </span>
            <span  ng-show="activeAction==='add_edit'">

                Add Material from

                <span ng-show="!editSource">Existing <span class="{{activeType.icon}}"></span> Source</span>
                <span ng-show="editSource"><span class="{{activeType.icon}}"></span> {{editSource.title}}</span>

                <span ng-show="addToConcept">
                    to {{::addToConcept.concept.title}}
                </span>

            </span>
            <span  ng-show="activeAction==='edit'">
                Edit Source
            </span>
            <span  ng-show="activeAction==='create'">

                <span ng-show="addToConcept">
                    Add New Material to {{::addToConcept.concept.title}}
                </span>
                <span ng-show="!addToConcept">
                    Create Material
                </span>
            </span>


        </h1>

    </div>

    <div ng-show="activeAction==='add'" class="add-material-action-selection">

        <a ng-click="activeAction='create'" class="btn btn-primary btn-lg" href>
            <span class="glyphicon glyphicon-pencil"></span>
            {{possibleActions['create'].replace('[icon]', '')}}
        </a>

        <!--<hr />-->
        <div style="width: 100%; height: 20px; border-bottom: 1px solid black; text-align: center">
          <span style="font-size: 30px; background-color: #fff; padding: 0 10px;">
            OR <!--Padding is optional-->
          </span>
        </div>

        <header>
            <input type="text" ng-model="editSourceNameSearch" class="form-control" style="width: 300px; float:right;" placeholder="Search..." />
            <h3>{{possibleActions['add_edit'].replace('[icon]', '')}}</h3>
        </header>

        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Source Title</th>
                    <th>Source Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="source in sources | filter: editSourceNameSearch" ng-click="selectEditSource(source)" style="cursor: pointer">
                    <td ng-click="selectEditSource(source)">{{source.title}}</td>
                    <td ng-click="selectEditSource(source)">{{source.typeObject.title}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <form ng-show="activeAction!=='add'" name="contentCreateForm" novalidate role="form">

        <div ng-show="activeAction=='create'&&!stateParams.courseId" class="col-md-12 form-group">
            <label for="courseSelect">Which Course is the content for?</label><br />

            <ui-select class="course-select" ng-model="$parent.course" ng-required name="courseSelect" id="courseSelect">
                <ui-select-match placeholder="Select Course...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="course in courses | filter: $select.search">
                    <div ng-bind-html="course.title | highlight: $select.search"></div>
                    <small ng-bind-html="course.description | highlight: $select.search"></small>
                </ui-select-choices>


            </ui-select>
        </div>

        <div ng-show="activeAction=='create'||activeAction=='edit'" class="col-md-12 form-group">

            <label for="courseRunSelect">Which Course Run is the content for?</label><br />

            <select class="course-run-select form-control" ng-model="source.courserun" ng-required name="courseRunSelect" id="courseRunSelect">
                <option value="" ng-selected="!source.courserun">-</option>
                <option ng-repeat="run in courseruns" value="{{run._id}}">
                    {{courseMap[run.course].short}}: {{run.title}}
                </option>
            </select>
        </div>

        <div class="col-md-12 form-group" ng-show="activeAction==='add_edit'&&!editSource">
            <label for="sourceSelect">Select a Source</label><br />

            <ui-select class="source-select" ng-model="$parent.editSource" ng-required name="sourceSelect" id="sourceSelect">
                <ui-select-match placeholder="Select Source...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="source in sources | filter: $select.search">
                    <div ng-bind-html="source.title | highlight: $select.search"></div>
                    <small ng-bind-html="source.typeObject.title | highlight: $select.search"></small>
                </ui-select-choices>


            </ui-select>
        </div>



        <div class="main-form" ng-show="(activeAction!=='edit'&&activeAction!=='add_edit')||source._id">
            <div class="form-group" ng-if="!activeReadableType">
                <ul class="list-inline" role="tablist">
                    <li ng-repeat="type in sourcetypes" ng-class="{'active': type._id == activeType._id}" ng-show="['Video', 'Presentation', 'Lecture'].indexOf(type.title)===-1">
                        <a href="" id="sourcetype-{{type._id}}" class="btn btn-default btn-lg" ng-click="selectSourcetype(type,$event)">
                            <span class="{{type.icon}}"></span>
                            {{type.title}}</a>
                    </li>
                </ul>
            </div>

            <ng-include ng-if="activeReadableType" src=" 'modules/contents/views/creators/' + activeReadableType + '.client.view.html' "></ng-include>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-warning" ng-click="cancel()">
                        <span ng-show="source._id">
                            <span class="fa fa-undo"></span> Revert Changes
                        </span>
                        <span ng-show="!source._id">
                            <span class="glyphicon glyphicon-trash"></span> Discard New Material
                        </span>
                    </button>
                </div>
                <div class="col-md-8 text-right">
                    <button ng-click="createContents()" type="button" class="btn btn-primary" ng-disabled="!contentCreateForm.$valid">

                        <span class="glyphicon glyphicon-ok"></span>

                        <span ng-show="source._id">Save Changes</span>
                        <span ng-show="!source._id">Save New Material</span>

                    </button>
                </div>
            </div>
        </div>

    </form>
</section>
