<section data-ng-controller="CreatorController" class="contentCol" data-ng-init="init()" style="margin-bottom: 200px; width: {{contentWidth}}px; padding: 0 40px">
    <div class="page-header">
        <h1>
            <span ng-if="possibleActions[activeAction].indexOf('[icon]')>-1">
                {{possibleActions[activeAction].substr(0, possibleActions[activeAction].indexOf('[icon]'))}}
                <span class="{{activeType.icon}}"></span>
                {{possibleActions[activeAction].substr( possibleActions[activeAction].indexOf('[icon]')+6)}}
            </span>
            <span ng-if="possibleActions[activeAction].indexOf('[icon]')==-1">
                {{possibleActions[activeAction]}}
            </span>

            <span ng-show="addToConcept">
                to {{::addToConcept.concept.title}}
            </span>
        </h1>

    </div>

    <div ng-show="activeAction==='add'" class="add-material-action-selection">
        <ul>
            <li>
                <a ng-click="activeAction='add_edit'" class="btn btn-default" href>{{possibleActions['add_edit'].replace('[icon]', '')}}</a>
            </li>
            <li>
                <a ng-click="activeAction='create'" class="btn btn-default" href>{{possibleActions['create'].replace('[icon]', '')}}</a>
            </li>
        </ul>
    </div>

    <form ng-show="activeAction!=='add'" name="contentCreateForm" novalidate role="form">

        <div ng-show="activeAction=='create'&&!stateParams.courseId" class="col-md-12 form-group">
            <label for="courseSelect">Which Course is the content for?</label><br />

            <ui-select class="course-select" ng-model="$parent.course" ng-required name="courseSelect" id="courseSelect">
                <ui-select-match placeholder="Select Course...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="course in courses | filter: $select.search">
                    <div ng-bind-html="course.title | highlight: $select.search"></div>
                    <small ng-bind-html="course.description | highlight: $select.search"></small>
                </ui-select-choices>


            </ui-select>
        </div>

        <div class="col-md-12 form-group" ng-show="activeAction==='add_edit'&&!editSource">
            <label for="sourceSelect">Select a Source</label><br />

            <ui-select class="source-select" ng-model="$parent.editSource" ng-required name="sourceSelect" id="sourceSelect">
                <ui-select-match placeholder="Select Source...">{{$select.selected.title}}</ui-select-match>
                <ui-select-choices repeat="source in sources | filter: $select.search">
                    <div ng-bind-html="source.title | highlight: $select.search"></div>
                    <small ng-bind-html="source.typeObject.title | highlight: $select.search"></small>
                </ui-select-choices>


            </ui-select>
        </div>

        <div class="main-form" ng-show="(activeAction!=='edit'&&activeAction!=='add_edit')||source._id">
            <div class="form-group" ng-if="!activeReadableType">
                <ul class="list-inline" role="tablist">
                    <li ng-repeat="type in sourcetypes" ng-class="{'active': type._id == activeType._id}" ng-show="['Video', 'Presentation', 'Lecture'].indexOf(type.title)===-1">
                        <a href="" id="sourcetype-{{type._id}}" class="btn btn-default btn-lg" ng-click="selectSourcetype(type,$event)">
                            <span class="{{type.icon}}"></span>
                            {{type.title}}</a>
                    </li>
                </ul>
            </div>

            <ng-include ng-if="activeReadableType" src=" 'modules/contents/views/creators/' + activeReadableType + '.client.view.html' "></ng-include>

            <div class="row">
                <div class="col-md-4"><button type="button" class="btn btn-warning" ng-click="cancel()"><span class="glyphicon glyphicon-trash"></span> Cancel</button></div>
                <div class="col-md-8 text-right">
                    <button ng-click="createContents()" type="button" class="btn btn-primary" ng-disabled="!contentCreateForm.$valid">

                        <span class="glyphicon glyphicon-ok"></span>

                        <span ng-show="source._id">Save Changes</span>
                        <span ng-show="!source._id">Save new Material</span>

                    </button>
                </div>
            </div>
        </div>

    </form>
</section>
