<section data-ng-controller="LecturesController" data-ng-init="findLectures()" class="container">
    <div class="page-header">
        <h1>Lectures</h1>
    </div>
    <div class="list-group lecture-list">
        <a data-ng-repeat="source in sources" data-ng-href="#!/courses/{{courseId}}/lectures/{{source._id}}" class="list-group-item">

            <h4 class="list-group-item-heading">
                <button class="btn btn-default pull-right" ng-click="playVideoClick(source._id,source.course, $event)">
                    <span class="glyphicon glyphicon-play"></span>
                    Play video with slides
                </button>
                <span data-ng-bind="source.title"></span>
            </h4>

            <div class="list-group-item-text">
                Concepts:
                    <ul class="lecture-concepts">
                        <li ng-repeat="i in getSegmentsNumberShort(3, source) track by $index">
                            <span style="background: {{getConceptById(sourceSegments[source._id][$index].concepts[0]).color}}" class="concept-color-circle"></span>
                            <small>{{getConceptById(sourceSegments[source._id][$index].concepts[0]).title}} </small>
                        </li>
                    </ul>

                <span ng-show="getSegmentsNumberShort(3, source).length<sourceSegments[source._id].length">...</span>
            </div>


        </a>
    </div>
</section>
