<section data-ng-controller="ContentsController" data-ng-init="findContents()" class="container">
    <div class="page-header">
        <a href ui-sref="contents.create" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            Create New
        </a>
        <h1>Manage Sources</h1>
    </div>

    <a ng-show="courseId" href ng-click="resetCourseFilter()" style="text-decoration: none">
        <span class="fa fa-check-square-o"></span>
        Only Show Sources of Course: <b>{{courseMap[courseId].title}}</b>
    </a>

    <table class="table">

        <thead>
            <tr>
                <th>Title</th>
                <th>Concepts</th>
                <th>Courses</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr data-ng-repeat="source in sources | filter: courseId">

                <td>
                    <a  data-ui-sref="contents.edit({sourceId: source._id})">
                        <span class="{{sourceTypeMap[source.type].icon}}"></span>
                        <!--<button class="btn btn-default pull-right" ng-click="playVideoClick(source._id,source.course, $event)">
                            <span class="glyphicon glyphicon-play"></span>
                            Play video with slides
                        </button>-->
                        <span data-ng-bind="source.title"></span>
                    </a>
                </td>

                <td>
                    <ul class="lecture-concepts">
                        <li ng-repeat="i in getConceptsNumberShort(3, source) track by $index">
                            <span style="background: {{conceptMap[sourceSegments[source._id][$index].concepts[0]].color}}" class="concept-color-circle"></span>
                            <small>{{conceptMap[sourceSegments[source._id][$index].concepts[0]].title}}</small>
                        </li>
                    </ul>

                    <span ng-show="getConceptsNumberShort(3, source).length<sourceSegments[source._id].length">...</span>
                </td>

                <td>
                    <a href data-ui-sref="{course: courseId}" ng-repeat="courseId in source.courses">{{courseMap[courseId].title}}</a>
                </td>

                <td>
                    <button class="btn btn-default ng-hide" ng-click="removeSourceOnly($event, source._id)"><span class="glyphicon glyphicon-trash"></span> Delete Source Only</button>
                    <button class="btn btn-default" ng-click="removeSource($event, source._id)"><span class="glyphicon glyphicon-trash"></span> <span class="glyphicon glyphicon-plus"></span> Delete Source &amp; Segments</button>
                </td>


            </tr>
        </tbody>

    </table>
</section>
