<div class="panel panel-default">
    <h4 style="padding: 5pt; margin: 0" class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Segments</h4>
    <ul class="list-group segment-list" id="segmentList">
        <li ng-repeat="segment in segments | orderBy:'start'" class="list-group-item" id="segment-{{segment._id}}" ng-class="{'active': segment == activeSegment}">
            <a href="" class="segment-list-title" ng-click="selectSegment(segment)">
                <span class="segment-title-panel" contenteditable ng-model="segment.title"></span>
                <span ng-show="activeType.player=='video'||activeType.player=='youtube'" class="pull-right segment-time">
                    <small><em>{{segment.start | time:'HH:mm:ss'}} - {{segment.end | time:'HH:mm:ss'}}</em></small>
                </span>
                <span ng-show="activeType.player=='pdf'" class="pull-right segment-time">
                    <small><em>page {{segment.start}} - {{segment.end}}</em></small>
                </span>
            </a>
            <div ng-show="segment==activeSegment" class="segment-details">

                <div class="segment-span" ng-show="activeType.player!='lti'">
                    <div class="col-md-6" style="padding-left: 0">
                        <div class="input-group segment-start">

                            <!--<span>Start</span>-->

                    <span class="input-group-addon">
                        <a href="" ng-click="setSegmentStart()" title="Set Segment Start to current Position">
                            <span class="glyphicon glyphicon-play"></span>
                            Start
                        </a>
                    </span>

                            <div ng-show="activeType.player=='video'||activeType.player=='youtube'||activeType.player=='extensionschool'">
                                <input id="segmentStart" momentduration="hours" ng-model="activeTimes.startDuration" class="form-control duration" ng-change="activeSegmentTimeChange()"/>
                                <input momentduration="minutes" ng-model="activeTimes.startDuration" class="form-control duration" />
                                <input momentduration="seconds" ng-model="activeTimes.startDuration" class="form-control duration" />
                            </div>
                            <div ng-show="activeType.player=='pdf'">
                                <input ng-model="activeSegment.start" class="form-control" />
                            </div>

                            <span ng-show="unit" class="input-group-addon">{{unit}}</span>
                        </div>
                    </div>

                    <div class="col-md-6" style="padding-right: 0">
                        <div class="input-group segment-end">

                    <span class="input-group-addon">
                        <a href="" ng-click="setSegmentEnd()" title="Set Segment End to current Position">
                            <span class="glyphicon glyphicon-stop"></span>
                            End
                        </a>
                    </span>

                            <div ng-show="activeType.player=='video'||activeType.player=='youtube'||activeType.player=='extensionschool'">
                                <input momentduration="hours" ng-model="activeTimes.endDuration" class="form-control duration" />
                                <input momentduration="minutes" ng-model="activeTimes.endDuration" class="form-control duration" />
                                <input momentduration="seconds" ng-model="activeTimes.endDuration" class="form-control duration" />
                            </div>
                            <div ng-show="activeType.player=='pdf'">
                                <input ng-model="activeSegment.end" class="form-control" />
                            </div>

                            <span ng-show="unit" class="input-group-addon">{{unit}}</span>
                        </div>
                    </div>
                </div>
                <div class="segment-resource" ng-show="activeType.player=='lti'">

                    <label>
                        <span class="title-label">Resource Title:</span>

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                        <input type="text" ng-model="activeSegment.data.resource_link_title" name="path" placeholder="resource-title" class="form-control"/>
                    </div>
                    </label>
                </div>


                <div ng-repeat="con in activeSegment.conceptObjects" class="segment-concept-row">
                    <ui-select ng-model="$parent.con"
                               on-select="selectConcept($item, $index, activeSegment)" ng-required name="conceptSelect-{{$index}}" id="conceptSelect-{{$index}}" reset-search-input="true">
                        <ui-select-match placeholder="{{course._id?'Select Concept...':'Please Select a Course First'}}">
                            <div style="width:20px; height:20px; background: {{$select.selected.color}}; float: left; margin-right: 15pt; border-radius: 10px"></div>
                            {{$select.selected.title}}</ui-select-match>
                        <ui-select-choices repeat="concept in concepts | filter: $select.search">
                            <div style="width:20px; height:20px; background: {{concept.color}}; float: left; margin-right: 15pt; border-radius: 10px"></div>
                            <div ng-bind-html="concept.title | highlight: $select.search"></div>
                        </ui-select-choices>

                    </ui-select>
                    <a href ng-click="removeConceptFromSegment(con)" class="remove-segment-from-concept">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a><br style="clear: both"/>
                </div>

                <div class="segment-concept-row">
                    <ui-select ng-model="newConcept" on-select="addConcept($item, this)" ng-required name="conceptSelect" id="conceptSelect" reset-search-input="true">
                        <ui-select-match placeholder="{{course._id?'Select Concept...':'Please Select a Course First'}}">
                            <div style="width:20px; height:20px; background: {{$select.selected.color}}; float: left; margin-right: 15pt; border-radius: 10px"></div>
                            {{$select.selected.title}}</ui-select-match>
                        <ui-select-choices repeat="concept in concepts | filter: $select.search">
                            <div style="width:20px; height:20px; background: {{concept.color}}; float: left; margin-right: 15pt; border-radius: 10px"></div>
                            <div ng-bind-html="concept.title | highlight: $select.search"></div>
                        </ui-select-choices>

                    </ui-select>
                </div>

                <div class="segment-concept-row">
                    <a href ng-click="deleteSegment()" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span>
                        Remove Segment
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <button type="button" class="btn btn-danger" style="width:50%; border:none" ng-click="removeAllSegments()" ng-disabled="!source.path">
        <span class="glyphicon glyphicon-remove"></span> Remove all
    </button>
    <button type="button" class="btn btn-primary" style="width:49%; float:right; border:none" ng-click="addSegment()" ng-disabled="!source.path">
        <span class="glyphicon glyphicon-plus"></span> Add
    </button>
</div>
