<div class="panel panel-default">
    <h4 style="padding: 5pt; margin: 0" class="panel-heading"><span class="glyphicon glyphicon-list-alt"></span> Segments</h4>
    <ul class="list-group segment-list" id="segmentList">
        <li ng-repeat="segment in segments | orderBy:'start'" class="list-group-item" ng-class="{'active': segment == activeSegment}">
            <a href="" ng-click="selectSegment(segment)">{{segment.title}}
            <span class="pull-right"><small><em>{{segment.start | time:'HH:mm:ss'}}-{{segment.end | time:'HH:mm:ss'}}</em></small></span></a></li>
    </ul>
    <button type="button" class="btn btn-danger" style="width:50%; border:none" ng-click="removeAllSegments()" ng-disabled="!source.path">
        <span class="glyphicon glyphicon-remove"></span> Remove all</button>
    <button type="button" class="btn btn-primary" style="width:49%; float:right; border:none" ng-click="addSegment()" ng-disabled="!source.path">
        <span class="glyphicon glyphicon-plus"></span> Add</button>
</div>