/** ADMIN START **/

.input-group input.duration {
    width: 43px;
    margin-bottom: 0;
    height: 39px;
    padding: 3px;
}
.segment-start .input-group-addon, .segment-end .input-group-addon {
    padding: 3px 7px;
}
.segment-start .input-group-addon a, .segment-end .input-group-addon a {
    text-decoration: none;
}

.add-material-action-selection ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.add-material-action-selection ul li {
    display: inline;
}
.add-material-action-selection ul li a {
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 13pt;
}

.segment-resource {
    padding: 10px;
}
.segment-resource label span.title-label {
    color: #333;
    text-shadow: none;
    display: block;
    float: left;
    padding: 8px 15px 0 0;
}
.segment-resource div {
    width: 50%;
    float: left;
}

/** ADMIN END **/


.lecture-concepts {
    display: inline;
    padding-left: 5px;
}

.lecture-concepts li {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 10px;
    margin: 0 10px 10px 0;
}

.concept-color-circle {
    border-radius: 8px;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-top: 2px;
}

.concept-color-circle-big {
    border-radius: 12px;
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin: 6px 10px 0 0;
}


.lecture-concepts li small {
    padding-left: 5px
}

.lecture-list > a {
    padding-bottom: 0;
}

.segment-list li {
    padding: 0;
}
.segment-list a.segment-list-title {
    padding: 7pt 10pt;
    display: block;
    text-decoration: none;
}
.segment-list .ui-select-container {
    width:90%;
    float: left;
}
.segment-list .segment-details {
    background: #fafafa;
    padding-bottom: 10px;
}
.segment-list .segment-concept-row {
    display: block;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}
.segment-list .remove-segment-from-concept {
    float: right;
    margin: 8px;
    /*color: #0000aa;*/
}

.segment-list a.segment-list-title:hover {
    background: #eeeeee;
    width: 100%;
    height: 100%;
}
.segment-list .active a.segment-list-title {
    color: #333;
}
.segment-list .active a.segment-list-title:hover {
    background: inherit;
}

.customicon {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 1px 5px -5px -3px;
}

.icon-lti {
    background: url('/modules/contents/img/lti.png');
    background-size: 20px 20px;
}
.icon-extensionschool {
    background: url('/modules/contents/img/harvardextensionschool.svg');
    background-size: 20px 20px;
}

.segment-title-panel {
    margin-right: 95px;
}
.segment-title-panel:focus {
    background: #fff;
    color: #444;
    text-shadow: none;
}
.segment-list .segment-span {
    margin: 0;
    padding: 5px 10px;
    display: block;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #eeeeee;
}

.segment-time {
    position: absolute;
    top: 10px;
    right: 10px;
}
