<div class="form-group" ng-show="!uploadSuccess&&activeAction!=='add_edit'" ng-class="{'has-error': contentCreateForm.pdfUpload.$error.required, 'has-success': !contentCreateForm.pdfUpload.$error.required&&source.pdfUpload.length}">
    <label for="pdfUploader">Upload the PDF file here:
    </label><br />

    <div class="uploader">

        <input type="file" name="pdfUploader" id="pdfUploader" ng-model="source.pdfUpload" onchange="angular.element(this).scope().uploadPdf(this)" />

        <div class="uploader-contents btn btn-default ">
            <i class="fa fa-upload"></i>
            Upload PDF
        </div>

    </div>
</div>

<div class="form-group" ng-show="activeAction!=='add_edit'" ng-class="{'has-error': contentCreateForm.title.$error.required, 'has-success': !contentCreateForm.title.$error.required&&source.title.length}">
    <label for="title">Pick a title for this source:</label><br />

    <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
        <input type="text" id="title" ng-model="source.title" name="title" required ng-minlength="1" placeholder="Title of the pdf" class="form-control"/>
    </div>
</div>



<div class="alert alert-success" ng-show="uploadSuccess">
    <span class="glyphicon glyphicon-ok"></span> PDF Upload Successful.
</div>


<div class="row">
    <div class="col-md-5">
        <ng-include src=" 'modules/contents/views/segmentListPanel.client.view.html' "></ng-include>
    </div>
    <div class="col-md-7">
        <div class="panel panel-default" style="height:480px">
            <div class="panel-heading" style="height: 50px">

                <div class="pull-right btn-group">

                    <button class="btn btn-default" ng-click="prevPage()">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>

                    <button class="btn btn-default page-selector" ng-click="openSelector()">
                <span ng-show="!pageSelectorOpen">
                    Page
                    <!--<input type="number" ng-change="updateDesiredPage()" ng-model="desired.page" />-->
                    {{currentPage}}
                    /
                    {{totalPages}}
                </span>

                        <input type="number" class="form-control" id="desiredPageInput" ng-show="pageSelectorOpen" ng-change="updateDesiredPage()" ng-model="desired.page" />

                    </button>

                    <button class="btn btn-default" ng-click="nextPage()">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>


                </div>


            </div>
            <div class="panel-content" style="padding:0; width:621px;">
                <pdfviewer ng-src="{{sourceData.document}}" height="420" width="620" scale="page-fit" on-page-load='pageLoaded(page,total)' class="pdfViewer" id="viewer"></pdfviewer>
            </div>
        </div>

    </div>
</div>

<ng-include src=" 'modules/contents/views/segmentDetailForm.client.view.html' "></ng-include>
