<section data-ng-controller="CoursesController" data-ng-init="find()" class="container">

    <div class="page-header">
        <a data-ng-show="courses.length" data-ui-sref="courses.create" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            Create New
        </a>
        <h1>Courses</h1>
    </div>

    <div class="list-group">
        <li data-ng-repeat="course in courses" data-ng-href="courses/{{course._id}}" class="list-group-item">
            <div class="pull-right" data-ng-show="(authentication.user)">
                <a class="btn btn-primary" title="Course Backups" data-ui-sref="backups.manageByCourse({courseId: course._id})">
                    <i class="glyphicon glyphicon-floppy-save"></i>
                </a>
                <a class="btn btn-primary" title="Edit Course" data-ui-sref="courses.edit({courseId: course._id})">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-primary remove-button" title="Remove Course" data-ng-click="remove(course);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
					<h4 class="list-group-item-heading course-title" data-ng-bind="course.title"></h4>
            <div data-ng-bind="course.description">

            </div>
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="course.created | date:'medium'"></span>
                by
                <span data-ng-bind="course.user.displayName"></span>
            </small>

        </li>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!courses.$resolved || courses.length">
    	No Courses yet, why don't you <a data-ui-sref="courses.create">create one</a>?
    </div>
</section>
