<section data-ng-controller="CoursesController" data-ng-init="find()" class="container">

    <h3>
        Courses
    </h3>

        <a data-ng-show="authentication.canCreateCourses()" data-ui-sref="courses.create" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            Create New
        </a>
    <div>
        <div class="list-group">
            <div data-ng-repeat="course in courses" class="list-group-item courserow row">

                <div class="col-md-9 course-description">

                    <div class="pull-right course-actions" data-ng-show="(authentication.isCourseTeacher(course._id))">
                        <a class="btn btn-default" title="Course Backups" data-ui-sref="backups.manageByCourse({courseId: course._id})">
                            <i class="glyphicon glyphicon-floppy-save"></i>
                        </a>
                        <a class="btn btn-default" title="Edit Course" data-ui-sref="courses.edit({courseId: course._id})">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-default remove-button" title="Remove Course" data-ng-click="remove(course);">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>

                    <a class="course-contents" id="enterCourseEntry-{{course._id}}" href ng-click="enterCourse(course, $event)" data-ui-sref="courses.view({courseId: course._id})">
                        <h4 class="list-group-item-heading course-title" data-ng-bind="course.title" id="course-list-title-{{course._id}}"></h4>
                        <p data-ng-bind="course.description" id="course-list-description-{{course._id}}">

                        </p>

                        <button class="btn btn-primary pull-right" id="course-list-enter-button-{{course._id}}">Enter Course</button>

                    </a>
                </div>
                <a class="col-md-3 text-center progress-info" style="" data-ui-sref="courses.view({courseId: course._id})" >



                    <p>

                        Learned<br aria-hidden="true" />

                        <!--<span style="font-size: 36pt">
                          <mark>{{course.learnedConceptObjects.length}}</mark> / {{course.conceptObjects.length}}
                        </span>-->

                        <span style="font-size: 36pt">
                          {{course.learnedConceptObjects.length}}
                        </span>
                        <span style="font-size: 26pt">
                          of
                        </span>
                        <span style="font-size: 36pt">
                          {{course.conceptObjects.length}}
                        </span>

                        <br aria-hidden="true" />

                        Concepts

                    </p>




                </a>

            </div>
        </div>

    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!courses.$resolved || courses.length">
    	No Courses yet
    </div>
</section>
