<section class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" data-ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <table class="table table-striped">
      <thead>
        <th>UserID</th>
        <th>Admin</th>
        <th>Signed Up</th>
        <th>Consent</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in pagedItems">
          <td>
            <a data-ui-sref="admin.user({userId: user._id})">
              {{user._id}}
            </a>
          </td>
          <td><span ng-show="user.roles.length>1">Yes</span><span ng-show="user.roles.length==1">No</span></td>
          <td>{{user.created}}</td>
          <td>{{user.trackingConsent}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
