<section data-ng-controller="TagsController" data-ng-init="find()" class="container">

    <h3>
        <a data-ui-sref="tags.create" class="btn btn-default pull-right">
            <span class="glyphicon glyphicon-plus"></span>
            Create New
        </a>

        Tags
    </h3>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tag</th>
                <th>Icon</th>
                <th>Sources</th>
                <th style="width:15%">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tag in tags">
                <td>
                    <a href ui-sref="tags.edit({ tagId: tag._id })" class="tag-item">
                        <i class="{{tag.icon}}"></i>
                        {{tag.title}}
                    </a>
                </td>
                <td>{{tag.icon}}</td>
                <td>
                    <span ng-repeat="source in sourcesByTagMap[tag._id]">
                        <i class="{{sourcetypeMap[source.type].icon}}"></i>
                        {{source.title}}
                    </span>
                </td>
                <td>
                    <!--<a href title="Show Contents with this Tag" class="btn btn-default" disabled="disabled">
                        <i class="glyphicon glyphicon-th-list"></i>
                    </a>-->

                    <a href disabled="disabled" ng-show="sourcesByTagMap[tag._id].length" class="btn btn-default">
                        Remove Sources From Tag before Delete
                    </a>

                    <span ng-show="!sourcesByTagMap[tag._id].length">
                        <a href title="Remove" class="btn btn-warning" ng-show="!tag.removing" ng-click="tag.removing=true">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                        <a href title="Remove" class="btn btn-danger" ng-show="tag.removing" ng-click="tag.$remove();">
                            <i class="glyphicon glyphicon-remove"></i> Remove?
                        </a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="alert alert-warning text-center" data-ng-hide="!tags.$resolved || tags.length">
        No Tags yet
    </div>
</section>
