<section data-ng-controller="LogsController" class="container">
    <h2>Action History</h2>

    <label>
        <input type="checkbox" ng-model="onlyNonAdmins" value="1" />
        Only Show Logs of Non-Admins
    </label>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Data</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat-start="log in logs" ng-show="!onlyNonAdmins||!userMap[log.user].isAffiliated">
                <td><a href ui-sref="admin.user({userId: log.user })">{{log.user}}</a></td>
                <td>{{log.time | date : 'short'}}</td>
                <td>
                    <a href ng-click="log.active = !log.active">
                            <span ng-repeat="(key, entries) in log.data">
                                {{key}} <br />
                            </span>
                    </a>
                </td>
                <td>
                    {{log.action}}
                </td>
            </tr>
            <tr ng-repeat-end ng-show="log.active">
                <td colspan="6">
                    <pre>{{log.data | json }}</pre>
                </td>
            </tr>
        </tbody>

    </table>
</section>
