.square {
    /*opacity: 0;*/
    transition: opacity .2s ease-in-out;
    pointer-events: none;
}

.square text {
    fill: #cccccc;
}

.square.active {
    /*opacity: 1;*/
    pointer-events: auto;
    cursor: pointer;
}

.square rect {
    stroke: #cccccc;
    stroke-width: 0.2;
}

.square.selected rect {
    /*stroke: #cccccc;*/
    stroke-width: 0.5;
}

#subLayer.has-no-active-group .square {
    /*opacity: 0;*/
}

.groupChild.square rect, .group.activeGroup.square rect {
    stroke: #4c97cc;
}
