.square {
    opacity: 0;
    transition: opacity .5s ease-in-out;
    pointer-events: none;
}

.square text {
    fill: #cccccc;
}

.square.active {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}

.square.selected rect {
    stroke: #cccccc;
    stroke-width: 0.5px;
}

#subLayer.has-no-active-group .square {
    opacity: 0;
}
