<div class="pdfviewer" ng-class="{'panel': showTitle, 'panel-default': showTitle, 'small-pdf': pdfWidth<=800}" style="width: {{width-10}}px; margin: 0;">
    <div ng-class="{'panel-heading': showTitle, 'panel-footer': !showTitle}">

        <div class="pull-right btn-group">

            <button class="btn btn-default" ng-click="prevPage()">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>

            <button class="btn btn-default page-selector" ng-click="openPageSelector()">
                <span ng-show="!pageSelectorOpen">
                    <span class="large-pdf-item">Page</span>
                    {{currentPage}} / {{totalPages}}
                </span>

                <input type="number" class="form-control" id="desiredPageInput" ng-show="pageSelectorOpen" ng-change="updateDesiredPage()" ng-model="desired.page"  min="1" max="{{totalPages}}" />

            </button>

            <button class="btn btn-default" ng-click="nextPage()">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>


        </div>

        <div class="pull-right btn-group" style="margin-right: 20px;">

            <button class="btn btn-default" ng-click="zoomOut()">
                <span class="glyphicon glyphicon-minus"></span>
            </button>

            <button class="btn btn-default page-selector" ng-click="openZoomSelector()">
                <span ng-show="!zoomSelectorOpen">
                    {{pdfScale * 100 | number:0}}%
                    <span class="large-pdf-item">Zoom</span>
                </span>

                <input type="number" class="form-control" id="desiredZoomInput" ng-show="zoomSelectorOpen" ng-change="updateDesiredZoom()" ng-model="desired.zoom" />

            </button>

            <button class="btn btn-default" ng-click="zoomIn()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>


        </div>

        <a class="btn btn-default pull-right" ng-show="pdfWidth<=800" style="margin-right: 20px;" href ng-click="showPdfOptions=!showPdfOptions">
        <span class="glyphicon glyphicon-cog"></span>
        </a>

        <div class="pdf-options" ng-show="pdfWidth>800||showPdfOptions">
            <div class="pull-right btn-group" style="margin-right: 20px;">
                <a class="btn btn-default" href="/api/sources/{{source._id}}/pdf" target="_blank">
                    <span class="fa fa-external-link"></span>
                    New Tab
                </a>
                <a class="btn btn-default" href="/api/sources/{{source._id}}/pdf" download="{{active.source.title}}.pdf" target="_blank">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    Download
                </a>
            </div>

            <div class="pull-right btn-group dropdown" style="margin-right: 20px;">
                <a type="button" href class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-blackboard"></span>
                    Viewer
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </a>
                <!--<button type="button" class="btn btn-default " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>-->
                <ul class="dropdown-menu" style="width: 100px;min-width:100px;">
                    <li ng-class="{active: !externalViewer}"><a href ng-click="externalViewer=false"><span class="glyphicon glyphicon-compressed"></span> Built-in</a></li>
                    <li ng-class="{active: externalViewer}"><a href ng-click="externalViewer=true"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Native</a></li>
                </ul>
            </div>
        </div>



        <!--<div class="pull-right btn-group" style="margin-right: 20px;">

            <a class="btn btn-default" href ng-click="externalViewer=true">
                <span class="fa fa-external-link"></span>
                Ext. Viewer
            </a>
            <a class="btn btn-default" href ng-click="externalViewer=false">
                <span class="glyphicon glyphicon-download-alt"></span>
                Normal Viewer
            </a>
        </div>-->

        <h2 ng-show="showTitle">
            <span class="source-title">{{source.title}}</span>
            <i class="fa fa-angle-double-right"></i>
            <span class="concept-title">{{concept.concept.title}}</span>
        </h2>

        <br style="clear:both" />


    </div>
    <div class="panel-content" style="padding:0; overflow: auto; width: {{pdfWidth-8}}px; height: {{pdfHeight}}px;">

        <pdfviewer ng-if="!externalViewer" ng-src="{{sourceData.document}}" width="{{pdfWidth}}" height="{{pdfHeight-8}}" scale="page-fit" load-progress="loadProgress(state)" on-page-load='pageLoaded(page,total)' class="pdfViewer" id="viewer"></pdfviewer>
        <object ng-show="externalViewer" data="{{sourceData.pdfPath}}#page={{sourceData.slideNumber}}" type="application/pdf" width="{{pdfWidth-10}}" height="{{pdfHeight-6}}">
            <p>PDF Viewer not found. <a href="/api/sources/{{source._id}}/pdf">Download</a></p>
        </object>
        <!--<embed ng-show="externalViewer" src="{{sourceData.pdfPath}}" type="application/pdf" width="100%" height="100%">-->
    </div>
</div>
