<div class="panel panel-default" style="margin: 0;">

    <div class="panel-heading">
        <div style="float:right; width: 400px;">

            <progress-buttons
                    width="430"
                    segment="active.segment"
                    source="active.source"
                    sourcetype="active.sourcetype"
                    current-position="currentPosition"
                    current-position-percent="currentPositionPercent"
                    on-set-progress="onSetProgress">
            </progress-buttons>

        </div>

        <h2>
            <span class="source-title">{{active.source.title}}</span>
            <i class="fa fa-angle-double-right"></i>
            <span class="concept-title">{{activeConcept.concept.title}}</span>
        </h2>
    </div>

    <div class="panel-content" style="padding:0;">

        <iframe src="{{sourceData.path}}" style="width:{{contentWidth-5}}px;" id="websiteframe" height="{{windowHeight-105}}" frameBorder="0"></iframe>

    </div>
</div>
