<!--<header class="content-bar">

    <div class="pull-left">
        <h4>
            <span class="source-title">{{active.source.title}}</span>
            <i class="fa fa-angle-double-right"></i>
            <span class="concept-title">{{activeConcept.concept.title}}</span>
        </h4>
    </div>

    <div class="pull-right actions ng-hide">
        <a href><span class="fa fa-download"></span> Save as PDF</a>
        <a href><span class="fa fa-gear"></span> Options</a>
        <a href><span class="fa fa-clone"></span> Minimize & Show Map</a>
    </div>

</header>-->

<div class="panel panel-default">
    <div class="panel panel-heading" style="margin:0">
        <h2>
            <span class="source-title">{{active.source.title}}</span>
            <i class="fa fa-angle-double-right"></i>
            <span class="concept-title">{{activeConcept.concept.title}}</span>
        </h2>
    </div>

    <booc-pdf-viewer sourcedata="sourceData" width="pdfWidth" height="pdfHeight" concept="activeConcept" source="active.source" showtitle="false"></booc-pdf-viewer>

    <a href class="slides-video-divider" style="left:{{pdfWidth+7}}px">
        .<br />.<br />.
    </a>

    <div class="navigation" ng-class="{ extended: map.extended }">


        <div ng-if="active.sourcetype.title.toLowerCase().replace(' ','')=='lecture'" class="minivideo">

            <div class="panel panel-footer" style="margin:0;">
                <div class="btn-group">
                    <a href class="btn btn-default" ng-class="{'btn-primary': currentPositionPercent < 1}">
                        <span class="glyphicon glyphicon-home"></span>
                        Beginning
                    </a>

                    <a href class="btn btn-default" style="width: {{videoWidth-205}}px">


                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{currentPositionPercent}}"
                                 aria-valuemin="0" aria-valuemax="100" style="width:{{currentPositionPercent}}%">
                                <span class="sr-only">{{currentPositionPercent}}% Complete</span>
                            </div>
                        </div>

                    </a>

                    <a href class="btn btn-default">
                        <span class="glyphicon glyphicon-stop"></span>
                        End
                    </a>

                </div>


            </div>



            <!--{{sourceData}}-->
            <!--<video width="{{videoWidth}}" controls id="videoPlayer" ng-src="{{sourceData.video}}">
                <source ng-src="{{sourceData.video}}" type="video/mp4" />
                Your browser does not support the video tag.
            </video>-->

            <youtube-video width="{{videoWidth}}" controls id="videoPlayer" video-url="sourceData.video"></youtube-video>

            <div ng-show="currentPosition<active.segment.end" class="alert alert-info notEndNotifier" role="alert">
                This concept ends in {{(active.segment.end-currentPosition) * 1000 | date:'mm:ss':'UTC'}} minutes.
            </div>

        </div>
    </div>

</div>

<!--

<div class="learnContent-inner" style="width: {{pdfWidth}}px">

    <div class="{{active.sourcetype.title.toLowerCase().replace(' ','')}}">

        <div class="panel-footer" ng-show="providers.length">
            Dependencies:
            <ul class="conceptList providerList">
                <li ng-repeat="provider in providers" ng-class="{ 'learned': learnedConceptIds.indexOf(provider._id) !== -1}">{{provider.title}}</li>
            </ul>
        </div>

        &lt;!&ndash;<div ng-show="conceptReadNotUnderstood" ng-if="conceptReadNotUnderstood && learnedConceptIds.indexOf(conceptReadNotUnderstood._id)===-1" class="alert alert-info alert-dismissible tooFarNotification">
            <button type="button" class="close" data-dismiss="alert" ng-click="removeConceptReadNotUnderstood()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Mark last concept <i>{{conceptReadNotUnderstood.title}}</i> as <strong>understood</strong>?
            <strong><a href="" ng-click="understoodLateClick(conceptReadNotUnderstood)">Yes</a></strong> <strong><a href="" ng-click="removeConceptReadNotUnderstood()">No</a></strong>
        </div>&ndash;&gt;

        <pdfviewer ng-src="{{sourceData.document}}" width="{{pdfWidth}}" height="{{windowHeight-110}}" scale="page-fit" on-page-load='pageLoaded(page,total)' class="pdfViewer" id="viewer"></pdfviewer>

    </div>


</div>
-->

