<booc-pdf-viewer
        sourcedata="sourceData"
        width="contentWidth-5"
        height="contentHeight-5"
        concept="activeConcept"
        source="active.source"
        showtitle="true">



    <progress-buttons
            width="350"
            segment="active.segment"
            source="active.source"
            sourcetype="active.sourcetype"
            current-position="currentPosition"
            current-position-percent="currentPositionPercent"
            on-set-progress="onSetProgress">
    </progress-buttons>

</booc-pdf-viewer>
