<div class="sidepanel col-md-3 sidepanel conceptmap-sideinfo learnmode-{{learnModeYesNo}}" ng-controller="ConceptPanelController" id="sidepanel"
     style="{{activeMode!='minimap'?'z-index:10; position:relative;':''}}height:{{windowHeight-55}}px; width:{{courseScope.panelWidth}}px" ng-class="{minimized: minimized, maximized: !minimized}"
     >

    <div class="fadein">

        <div ng-show="!minimized" class="sidepanelOptions" aria-hidden="true" role="presentation">
            <a aria-hidden="true" class="minimizerToggle minimizer fa fa-angle-double-left" href="" ng-click="minimize()" title="Hide Panel"></a>
        </div>

        <div ng-if="minimized" class="sidepanelOptions" aria-hidden="true" role="presentation">
            <a aria-hidden="true" class="minimizerToggle maximizer panel-button" href="" ng-click="maximize()" title="Show Panel">
                <span class="fa fa-angle-double-right"></span>
            </a>
        </div>

        <ng-include src="'modules/concepts/views/panel/full.client.view.html'"></ng-include>

    </div>

    <!--<div class="minimized">



        <ng-include src="'modules/concepts/views/panel/minimized.client.view.html'"></ng-include>

    </div>-->

</div>
