<div class="sidepanel col-md-3 sidepanel conceptmap-sideinfo learnmode-{{learnModeYesNo}}" ng-controller="ConceptPanelController" id="sidepanel"
     style="{{activeMode!='minimap'?'z-index:10; position:relative;':''}}height:{{windowHeight-55}}px; width:{{courseScope.panelWidth}}px" ng-class="{minimized: minimized, maximized: !minimized}"
     >

    <div class="fadein">

        <div ng-show="!minimized" class="sidepanelOptions" aria-hidden="true" role="presentation">
            <a aria-hidden="true" class="minimizerToggle minimizer fa fa-angle-double-left" href="" ng-click="minimize()" title="Hide Panel"></a>
        </div>

        <div ng-if="minimized" class="sidepanelOptions" aria-hidden="true" role="presentation">
            <a aria-hidden="true" class="minimizerToggle maximizer panel-button" href="" ng-click="maximize()" title="Show Panel">
                <span class="fa fa-angle-double-right"></span>
            </a>
        </div>

        <div ng-class="{ 'panel-minimized': minimized, 'maximized': !minimized }">

            <header ng-swipe-left="minimize()"  ng-swipe-right="maximize()" class="row panel-header" tabindex="-1">

                <div>
                    <div ng-show="activeConcept">
                        <ol ng-if="panelWidth>300">
                            <li>
                                <a data-ui-sref="{active: ''}" tabindex="0"><span class="sr-only">Course: </span> {{::course.short}}</a>
                            </li>
                            <li ng-if="activeConcept.parentData&&activeMode=='hierarchy'" ng-repeat="selected in active.hierarchy" ng-show="selected.concept._id!==activeConcept.concept._id&&selected.concept._id!==activeHierarchyConcept.concept._id">
                                <a data-ui-sref="{active: selected.concept._id, goal: selected.concept._id}">{{selected.concept.title}}</a>
                            </li>
                            <li ng-if="activeConcept.parentData&&(activeMode=='plan'||activeMode=='lecture')" ng-repeat="selected in active.hierarchy" ng-show="selected.concept._id!==activeConcept.concept._id">
                                <a data-ui-sref="{active: selected.concept._id, goal: selected.concept._id}">{{selected.concept.title}}</a>
                            </li>
                        </ol>

                        <h2 ng-if="activeMode=='hierarchy'" ng-if="panelWidth>300" tabindex="0">{{activeHierarchyConcept.concept.title}}</h2>
                        <h2 ng-if="activeMode=='plan'||activeMode=='lecture'||activeMode=='minimap'||activeMode=='admin'" ng-if="panelWidth>300" tabindex="0">{{activeConcept.concept.title}}</h2>

                    </div>
                    <div ng-show="!activeConcept">

                        <h2 class="course-title">{{::course.title}}</h2>

                    </div>
                </div>

                <div>

                    <a ng-show="active.watchableConcept&&!learnMode&&activeMode!='lecture'"
                       title="Watch Lecture on {{active.watchableConcept.concept.title}}" class="panel-button play learnmode-{{learnMode}}"
                       data-ui-sref="{active: active.watchableConcept.concept._id, learn: 'yes'}">
                        <span ng-hide="learnMode" class="glyphicon glyphicon-play"></span>
                        Watch Lecture
                    </a>

                    <a ng-show="activeLectures.length&&!learnMode&&activeMode=='lecture'"
                       title="Watch {{activeLectures[0].lecture.title}}" class="panel-button play learnmode-{{learnMode}}"
                       data-ui-sref="{source: activeLectures[0].lecture._id, learn: 'yes'}">
                        <span ng-hide="learnMode" class="glyphicon glyphicon-play"></span>
                        Watch Lecture
                    </a>

                    <a ng-show="learnMode||editSourceMode" class="panel-button play learnmode-{{learnMode}}" title="Show Course Map"
                       data-ui-sref="{mode: activeMode=='minimap'?'plan':activeMode, learn: 'no'}">
                        <!--<span class="glyphicon glyphicon-map-marker"></span>-->
                        <span class="map-icon"></span>
                        Show Map
                    </a>

                    <a ng-show="!goalConcept&&activeMode=='plan'&&activeConcept" class="panel-button goal set-goal learnmode-{{learnMode}}" title="Set {{activeConcept.concept.title}} as goal"
                       data-ui-sref="{goal: activeConcept.concept._id }">
                        <span class="glyphicon glyphicon-flag setgoal"></span>
                        Set as Goal
                    </a>

                    <a ng-show="goalConcept&&activeMode=='plan'" class="panel-button goal unset-goal learnmode-{{learnMode}}" title="Unset goal"
                       data-ui-sref="{goal: ''}">
                        <span class="glyphicon glyphicon-flag unsetgoal">/</span>
                        Unset Goal
                    </a>
                    <br style="clear:both" />
                </div>


            </header>



            <div class="row tab-selection">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="panel-tab tab-plan" ng-class="{ 'active': activeMode==='plan'}">
                        <a data-ui-sref="{mode: 'plan'}">
                            <span class="fa fa-map inline-block"></span>
                            <span ng-if="panelWidth>400&&!hasConceptEditRights">Learning Plan</span>
                            <span ng-if="panelWidth>300&&(panelWidth<=400||hasConceptEditRights)">Plan</span>
                        </a>
                    </li>
                    <!--<li role="presentation" class="panel-tab" ng-class="{ 'active': activeMode==='hierarchy'}" style="background: {{activeConcept.concept.color}}">
                        <a href="/#!/courses/{{courseId}}?goal={{goalConcept.concept._id}}&active={{activeConcept.concept._id}}&learn={{learnModeYesNo}}&mode=hierarchy">
                            <span class="glyphicon glyphicon-info-sign visible-lg-inline-block"></span> Information</a></li>-->

                    <li ng-show="learnMode" role="presentation" class="panel-tab tab-minimap" ng-class="{ 'active': activeMode==='minimap'}">
                        <a data-ui-sref="{mode: 'minimap'}" ng-disabled="!learnMode">
                            <span class="map-icon inline-block"></span> <span ng-if="panelWidth>300">Minimap</span></a></li>

                    <li role="presentation" class="panel-tab tab-lectures" ng-class="{ 'active': activeMode==='lecture'}">
                        <a data-ui-sref="{mode: 'lecture'}">
                            <span class="fa fa-university inline-block"></span> <span ng-if="panelWidth>300">Lectures</span></a></li>

                    <li role="presentation" ng-show="hasConceptEditRights" class="panel-tab tab-admin" ng-class="{ 'active': activeMode==='admin'}">
                        <a data-ui-sref="{mode: 'admin'}">
                            <span class="fa fa-lock inline-block"></span> <span ng-if="activeMode==='admin'">Admin</span></a></li>



                </ul>
            </div>



            <!--
            <h3>Concepts</h3>
                <ul class="concept-panel conceptList">
                    <li ng-repeat="child in topLevelConcepts | orderBy:'order':false">
                        <a href ng-click="activateConcept(child, 1)" class="concept">{{child.concept.title}}</a>
                    </li>
                </ul>
            -->
            <div class="concept-panel row">

                <div ng-if="activeMode=='hierarchy'||activeMode=='admin'" class="panel-content" ng-class="{'panel-content-active': activeMode=='hierarchy'||activeMode=='admin'}" style="height: {{panelContentHeight}}px; ">

                    <p><i>What's within {{activeHierarchyConcept.concept.title}}?</i></p>

                    <div class="learningLine">

                        <ng-include src="'/modules/concepts/views/panel/admin.client.view.html'" />

                        <ul ng-if="activeMode=='admin'" class="concept-list">
                            <li ng-repeat="child in activeHierarchyChildren | orderBy:'order':false" class="concept"  ng-class="{ 'active': activeConcept.concept._id === child.concept._id,
                        'learned':  active.learnedConceptIds.indexOf(child.concept._id) !== -1}">

                                <a data-ui-sref="{active: child.concept._id, goal: child.concept._id}" class="concept">
                                    <span class="concept-circle" style="background: {{child.concept.color}}"></span>
                                    <span class="concept-line"></span>
                                    {{child.concept.title}}
                                </a>

                                <ul ng-show="activeConcept.concept._id === child.concept._id" class="alternative-segments">
                                    <li ng-repeat="seg in active.segments" class="segment" ng-class="{ 'active': seg._id === active.segment._id}">


                                        <a data-ui-sref="{active: child.concept._id, segment: seg._id, learn: 'yes'}" title="{{seg.sourcetypeObject.title}}: {{seg.title}}">

                                            <span class="concept-line lowest"></span>
                                            <span class="{{seg.sourcetypeObject.icon}} segment-icon"></span>
                                            {{seg.title}}
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-if="activeMode=='lecture'" class="panel-content" ng-class="{'panel-content-active': activeMode=='lecture'}" style="height: {{panelContentHeight}}px;">

                    <!--<h3>Concepts in {{activeLecture.title}}</h3>-->
                    <p ng-show="activeConcept"><i>Which Lectures cover parts of {{activeConcept.concept.title}}?</i></p>
                    <p ng-hide="activeConcept"><i>Which Lectures cover parts of {{course.short}}?</i></p>

                    <ul class="lectureList">
                        <li class="lecture" ng-repeat="lecture in activeLectures">

                            <div class="pull-right" style="font-size: 16pt; position: relative; top:-5px">
                                <a  data-ui-sref="{}"><i class="fa fa-file-pdf-o"></i></a>
                                <a  data-ui-sref="{}"><i class="fa fa-file-video-o"></i></a>
                            </div>

                            <span class="concept-line"></span>

                            <a  data-ui-sref="{source: lecture.lecture._id, learn: 'yes'}">

                                <span class="fa fa-university"></span> <b>{{lecture.lecture.title}}</b>
                            </a>



                            <ul class="concept-list">
                                <li ng-repeat="child in lecture.concepts" class="concept"  ng-class="{ 'active': activeConcept.concept._id === child._id,
                    'learned':  active.learnedConceptIds.indexOf(child._id) !== -1}">



                                    <a  data-ui-sref="{active: child._id}" class="concept">
                                        <span class="concept-circle" style="background: {{child.color}}"></span>
                                        <span class="concept-line"></span>
                                        <span class="concept-title">{{child.title}}</span>

                                    </a>

                                    <ul ng-show="activeConcept.concept._id === child._id" class="alternative-segments">
                                        <li ng-repeat="seg in active.segments" class="segment" ng-class="{ 'active': seg._id === active.segment._id}">



                                            <a  data-ui-sref="{active: child._id, segment: seg._id, learn: 'yes'}" title="{{seg.sourcetypeObject.title}}: {{seg.title}}">

                                                <span class="concept-line lowest"></span>
                                                <span class="{{::sourcetypeMap[sourceMap[seg.source].type].icon}} segment-icon"></span>
                                                <!--<span class="{{seg.sourcetypeObject.icon}} segment-icon"></span>-->
                                                <span class="segment-title">{{seg.title}}</span>
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>

                <div ng-show="activeMode=='plan'" class="panel-content" ng-class="{'panel-content-active': activeMode=='plan'}" style="height: {{panelContentHeight}}px;">

                    <p class="plan-intro"><i>How do I learn

                        <span ng-if="currentGoal">{{currentGoal.concept.title}}?</span>
                        <span ng-if="!currentGoal">{{::course.short}}?</span>

                    </i></p>

                    <ul class="course-list" style="border-color: {{getPathColor(currentGoal.concept.color)}}">

                        <li class="concept">

                            <a data-ui-sref="{active: ''}" tabindex="-1" title="{{::course.title}}">

                                <span class="concept-circle" style="background: #fff"></span>
                                <span class="concept-line"></span>
                                <span  class="concept-title">{{::course.short}}</span>

                            </a>

                            <ul class="concept-list">
                                <concept concept="concept" ng-repeat="concept in planConcepts track by concept.concept._id">

                                </concept>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div ng-if="activeMode=='minimap'" class="panel-content"  ng-class="{'panel-content-active': activeMode=='minimap'}" style="height: {{panelContentHeightMax-115}}px; ">



                </div>

                <!--<footer class="learning-buttons" ng-if="activeMode=='admin'">

                    <hr />

                    <div class="row">

                    </div>

                    <div class="row">

                    </div>

                </footer>-->

                <footer class="learning-buttons" ng-show="activeConcept&&activeMode!='admin'">

                    <hr />

                    <div class="buttonRow learned-state">

                        <div ng-class="{'btn-group': !minimized, 'btn-group-vertical': minimized}" role="group" aria-label="...">
                            <button type="button" class="btn btn-default notseen-button"
                                    ng-class="{'btn-primary': !activeConcept.isSeen && !activeConcept.learned }"
                                    ng-click="notUnderstoodClick();unseeConcept(activeConcept.concept._id)"
                                    ng-disabled="!activeConcept.isSeen && !activeConcept.learned">
                                <span class="glyphicon glyphicon-eye-close"></span>
                                <span class="btn-label">Not Seen</span>
                            </button>
                            <button type="button" class="btn btn-default seen-button"
                                    ng-class="{'btn-primary': activeConcept.isSeen && !activeConcept.learned }"
                                    ng-click="notUnderstoodClick();seeConcept(activeConcept.concept._id)"
                                    ng-disabled="activeConcept.isSeen && !activeConcept.learned">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="btn-label">Seen</span>
                            </button>
                            <button type="button" class="btn btn-default understood-button"
                                    ng-class="{'btn-primary': activeConcept.learned }"
                                    ng-click="understoodClick()"
                                    ng-disabled="activeConcept.learned">
                                <span class="glyphicon glyphicon-ok"></span>
                                <span class="btn-label">Understood</span>
                            </button>
                        </div>

                    </div>

                    <div class="buttonRow ng-hide">

                        <!--<a ng-show="seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="unseeConcept(activeConcept.concept._id)"
                           class="btn btn-warning dropdown-toggle pull-right halfWidthBtn" aria-expanded="false"
                           title="Mark {{activeConcept.concept.title}} as not seen"
                                >
                            <span class="glyphicon glyphicon-eye-close"> </span> Mark Not Seen.
                        </a>

                        <a ng-show="!seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="seeConcept(activeConcept.concept._id)"
                           class="btn btn-success dropdown-toggle pull-right halfWidthBtn" aria-expanded="false"
                           title="Mark {{activeConcept.concept.title}} as seen"
                                >
                            <span class="glyphicon glyphicon-eye-open"> </span> Mark Seen.
                        </a>

                        <a ng-show="seenMapByConcept[activeConcept.concept._id] && active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="understoodClick()"
                           class="btn btn-success dropdown-toggle pull-right halfWidthBtn" aria-expanded="false"
                           title="Mark {{goalConcept.concept.title}} as understood"
                                >
                            <span class="glyphicon glyphicon-ok"> </span> Understood.
                        </a>

                        <a ng-hide="active.learnedConceptIds.indexOf(activeConcept.concept._id)===-1" type="button" ng-click="notUnderstoodClick()"
                           class="btn btn-warning dropdown-toggle pull-right halfWidthBtn" aria-expanded="false"
                           title="Mark {{goalConcept.concept.title}} as not understood"
                                >
                            <span class="glyphicon glyphicon-remove"> </span> Not Understood.
                        </a>-->

                        <a type="button" ng-disabled="!nextSegment" ng-click="moreMaterialClick()"
                           data-ui-sref="{segment: nextSegment._id}}}"
                           class="btn btn-warning dropdown-toggle pull-left halfWidthBtn" data-toggle="dropdown" aria-expanded="false">
                            <span class="glyphicon glyphicon-arrow-right"> </span>
                            <span class="btn-label">More on this!</span>
                        </a>

                    </div>

                    <div class="buttonRow">

                        <div ng-class="{'btn-group-vertical': minimized}" role="group" aria-label="...">
                            <a type="button" ng-click="previousClick()" ng-disabled="!previousConcept"
                               data-ui-sref="{active: previousConcept.concept._id}"
                               class="btn btn-primary dropdown-toggle halfWidthBtn" aria-expanded="false"
                               title="Next: {{previousConcept.concept.title}}">
                                <span class="glyphicon glyphicon-arrow-up"> </span>
                                <span class="btn-label">Previous</span>
                            </a>

                            <a type="button" ng-click="nextClick()" ng-show="nextConcept"
                               data-ui-sref="{active: nextConcept.concept._id}"
                               class="btn btn-primary dropdown-toggle halfWidthBtn" aria-expanded="false"
                               title="Next: {{nextConcept.concept.title}}">
                                <span class="glyphicon glyphicon-arrow-down"> </span>
                                <span class="btn-label">Next!</span>
                            </a>
                        </div>
                    </div>

                </footer>

            </div>

        </div>

    </div>

</div>
