<div class="container">

    <h1>booc.io: An Education System with Hierarchical Concept Maps and Dynamic Non-linear Learning Plans</h1>

    <p><i>
        <a href="mailto:me@michaschwab.de"><span class="glyphicon glyphicon-envelope"></span> Michail Schwab</a>,
        Hendrik Strobelt,
        James Tompkin,
        Colin Fredericks,
        Connor Huff,
        Dana Higgins,
        Anton Strezhnev,
        Mayya Komisarchik,
        Gary King
        and
        Hanspeter Pfister</i></p>


    <h2>Abstract</h2>
    <p>Information hierarchies are difficult to express when real-world space or time constraints force traversing the hierarchy in linear presentations, such as in educational books and classroom courses. We present booc.io, which allows linear and non-linear presentation and navigation of educational concepts and material. To support a breadth of material for each concept, booc.io is Web based, which allows adding material such as lecture slides, book chapters, videos, and LTIs. A visual interface assists the creation of the needed hierarchical structures. The goals of our system were formed in expert interviews, and we explain how our design meets these goals. We adapt a real-world course into booc.io, and perform introductory qualitative evaluation with students.</p>

    <h2>Video</h2>
    <video width="1000" height="400" controls>
        <source src="https://booc.io/booc_io_AnEducationSystemWithHierarchicalConceptMapsAndDynamicNonLinearLearningPlans_Video.mp4" type="video/mp4" />
        Your browser does not support the video tag.
    </video>

    <br /><br /><br />
    <a class="btn btn-primary btn-lg" href="https://booc.io/paper.pdf" download="booc-vis-2016.pdf"><span class="glyphicon glyphicon-download-alt"></span> Download</a>

</div>
