<section ng-show="!authentication.user" ng-controller="AuthenticationController" class="container login">
  <div class="row">
    <div class="col-md-6 text-center">

      <h3>Sign in using your Harvard Account</h3>

        <!--<img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/img/buttons/facebook.png">
        <img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/img/buttons/twitter.png">-->


        <a href ng-click="callOauthProvider('/api/auth/cas')" class="harvard-login-link login-link">
          <img ng-src="https://upload.wikimedia.org/wikipedia/en/3/3a/Harvard_Wreath_Logo_1.svg" alt="Harvard" aria-hidden="true" />
          <button class="btn btn-primary">Sign In</button>

        </a>

    </div>
    <div class="col-md-6 text-center">

      <h3>Or, use Google Sign In</h3>

      <a href ng-click="callOauthProvider('/api/auth/google')" class="google-login-link login-link">
        <img ng-src="/modules/users/img/buttons/google.png" alt="Google" height="188" />
        <br />
        <button class="btn btn-primary">Sign In</button>
      </a>

    </div>
    <!--<img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/img/buttons/linkedin.png">
    <img ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/img/buttons/github.png">
    <img ng-click="callOauthProvider('/api/auth/paypal')"  ng-src="/modules/users/img/buttons/paypal.png">-->
  </div>
  <!--<div ui-view></div>-->
</section>
