.jumbotron {
    /*background-image: url('../../courses/img/gov2001_big.png');
    background-size: 150px 150px;
    background-position: 200px 10px;
    background-repeat: no-repeat;*/

    padding: 0;
    background: #fff;
    /*background: #68647f;*/
    margin-bottom: 0px;

}
.welcome-text-div {
    padding: 100px 20px 0 0;
    font-size: 15px;
}

.courserow {
    padding: 0;
    background: #FFFDFD;
    /*cursor: pointer;*/
}
.courserow:hover {
    background: #FFE6E6;
}
.courserow:hover .course-description {
    background: #f5f5f5;
    border-right: 1px solid #FFCCCC;
}

.course-description {
    padding: 20px;
    background: #fff;
    min-height: 160px;
    border-right: 1px solid #FFF5F5;
}

.courserow a {
    color: #666;
    text-decoration: none;
}

.progress-info {

    height: 100%;
    padding: 20px;

}

.course-actions a {
    /*color: #ffffff;*/
    /*background: #f00;*/
}

.course-contents {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 140px;
}
