
/********************* TYPOGRAPHY ********************* */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


/********************* BODY ********************* */
body {
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #fff;
  letter-spacing: -0.02em;
  font-size: 14px;
}

/********************* HEADER ********************* */
.kalli-header {
	position: relative;
}

.kalli-header-title {
	width: 300px;
	height: 200px;
	display: inline-block;
	border: 1px solid #00f;
	position: relative;
}

.kalli-header-subtitle {
	width: 200px;
	height: 200px;
	display: inline-block;
	border: 1px solid #00f;
	position: absolute;
	left: 0;
	top: 200px;
}

.kalli-header-image {
	border: 1px solid #00f;
	width: 800px;
	height: 400px;
	display: inline-block;
	position: relative;
}
/********************* STEPS ********************* */
.kalli-inline-header {
	text-align: center;
	font-size: 24px;
	margin: 120px 0;
}

.kalli-steps-list {

}
/********************* FEATURES ********************* */
.kalli-features-list > ul > li {
	width: 200px;
	margin: 0 75px;
	display: inline-block;
	border: 1px solid #00f;
	text-align: center;
}
/********************* COURSES ********************* */
.kalli-course-card {
	width: 300px;
	height: 500px;
	min-height: 140px;
	border: 1px solid #00f;
}

/********************* LEARN MORE ********************* */
/********************* VIDEO ********************* */
.kalli-video{
	display: block;
	left: 33%;
	position: relative;
}
/********************* TEAM ********************* */
.kalli-team-list {
	display: block;
	position: relative;
}
.kalli-team-list > ul > li {
	width: 150px;
	margin: 0 10px 0 0;
	display: inline-block;
	border: 1px solid #00f;
	text-align: center;	
}
/********************* FOOTER ********************* */
.kalli-footer-list {
	margin: 150px 0 20px 0;
	display: block;
	position: relative;	
}
.kalli-footer-list > ul > li {
	width: 100px;
	margin: 0 100px 0 0;
	display: inline-block;
	border: 1px solid #00f;
	text-align: left;	
}



