header.navbar {
    background: #68647f;
    /*border: none;*/
    border-bottom-width: 1px;
    border-color: #625e7f;
}
header.navbar .navbar-brand {
    text-transform: uppercase;

}
header.navbar .user-header-dropdown-toggle {
    text-transform: none;
}
header.navbar .navbar-brand, header.navbar .navbar-nav a {
    color: #edecf1;
    box-shadow: none !important;
}
header.navbar .navbar-nav .active a, header.navbar .navbar-nav .open a {
    background: #83809b !important;
}
header.navbar .navbar-nav a:hover, header.navbar .navbar-nav .active a:hover, header.navbar .navbar-nav .open a:hover {
    background: #8c8aa1;
}
header.navbar .navbar-nav .dropdown-menu {
    background: #68647f;
}

.content-bar {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e7e7e7;
    padding: 16px 20px;
    color: #666;
    background: #fcfcfc;
}

.content-bar h4{
    padding: 0;
    margin: 0;
}

.content-bar .actions a {
    margin-left: 25px;
    text-decoration: none;
}

.logged-in-nav li a {
    height: 50px;
    position: relative;
    width: 115px;
    border-right: 1px solid #524e72;
}
.logged-in-nav li:first-child a {
    border-left: 1px solid #524e72;
}
.nav-link {
    position: absolute;
    top: 17px;
    left: 40px;
}
